{
  "swagger": "2.0",
  "info": {
    "description": "Service for providing the compliance violations of seller account/listings",
    "version": "1",
    "title": "Sherpa Compliance Service",
    "contact": {
      "name": "eBay Inc,"
    },
    "license": {
      "name": "eBay API License Agreement",
      "url": "https://go.developer.ebay.com/api-license-agreement"
    }
  },
  "host": "api.ebay.com",
  "basePath": "/sell/compliance/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/listing_violation_summary": {
      "get": {
        "tags": [
          "listing_violation_summary"
        ],
        "summary": "getListingViolationsSummary",
        "description": "This call returns listing violation counts for a seller. A user can pass in one or more compliance types through the compliance_type query parameter. See ComplianceTypeEnum for more information on the three different compliance types. Listing violations are returned for multiple marketplaces if the seller sells on multiple eBay marketplaces. Note: Only a canned response for this call will be returned in the Sandbox environment, so the non-compliant listing count will not be specific to the seller.",
        "operationId": "getListingViolationsSummary",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "X-EBAY-C-MARKETPLACE-ID",
            "in": "header",
            "description": "Use this header to specify the eBay marketplace identifier. Supported values for this header can be found in the MarketplaceIdEnum type definition. Note that Version 1.1.0 of the Compliance API is only supported on the US, UK, Australia, Canada {English), and Germany sites.",
            "required": false,
            "type": "string"
          },
          {
            "name": "compliance_type",
            "in": "query",
            "description": "A user passes in one or more compliance type values through this query parameter. See ComplianceTypeEnum for more information on the compliance types that can be passed in here. If more than one compliance type value is used, delimit these values with a comma. If no compliance type values are passed in, the listing count for all compliance types will be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComplianceSummary"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.inventory"
            ]
          }
        ]
      }
    },
    "/listing_violation": {
      "get": {
        "tags": [
          "listing_violation"
        ],
        "summary": "getListingViolations",
        "description": "This call returns specific listing violations for three different compliance types. Only one compliance type can be passed in per call, and the response will include all the listing violations for this compliance type, and are grouped together by eBay listing ID. See ComplianceTypeEnum for more information on the three different compliance types. This method also has pagination control. Note: A maximum of 2000 listing violations will be returned in a result set. If the seller has more than 2000 listing violations, some/all of those listing violations must be corrected before additional listing violations will be retrieved. The user should pay attention to the total value in the response. If this value is '2000', it is possible that the seller has more than 2000 listing violations, but this field maxes out at 2000. Note: In a future release of this API, the seller will be able to pass in a specific eBay listing ID as a query parameter to see if this specific listing has any violations. Note: Only a canned response for this call will be returned in the Sandbox environment, so the non-compliant listing data will not be specific to the seller.",
        "operationId": "getListingViolations",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "X-EBAY-C-MARKETPLACE-ID",
            "in": "header",
            "description": "This header is required and is used to specify the eBay marketplace identifier. Supported values for this header can be found in the MarketplaceIdEnum type definition. Note that Version 1.1.0 of the Compliance API is only supported on the US, UK, Australia, Canada {English), and Germany sites.",
            "required": true,
            "type": "string"
          },
          {
            "name": "compliance_type",
            "in": "query",
            "description": "A seller uses this query parameter to retrieve listing violations of a specific compliance type. Only one compliance type value should be passed in here. See ComplianceTypeEnum for more information on the compliance types that can be passed in here. If the listing_id query parameter is used, the compliance_type query parameter {if passed in) will be ignored. This is because all of a listing's policy violations {each compliance type) will be returned if a listing_id is provided. Either the listing_id or a compliance_type query parameter must be used, and if the seller only wants to view listing violations of a specific compliance type, both of these parameters can be used. Note: The listing_id query parameter is not yet available for use, so the seller does not have the ability to retrieve listing violations for one or more specific listings. Until the listing_id query parameter becomes available, the compliance_type query parameter is required with each getListingViolations call.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The first policy violation to return based on its position in the collection of listing violations. Use this parameter in conjunction with the limit parameter to control the pagination of the output. For example, if offset is set to 10 and limit is set to 10, the call retrieves listing violations 11 thru 20 from the resulting collection of listing violations. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0. If the listing_id parameter is included in the request, this parameter will be ignored. Default: 0 {zero)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "listing_id",
            "in": "query",
            "description": "Note: This query parameter is not yet supported for the Compliance API. Please not that until this query parameter becomes available, the compliance_type query parameter is required with each getListingViolations call. This query parameter is used if the user wants to view all listing violations for one or more eBay listings. The string value passed into this field is the unique identifier of the listing, sometimes referred to as the Item ID. Either the listing_id or a compliance_type query parameter must be used, and if the seller only wants to view listing violations of a specific compliance type, both of these parameters can be used. Up to 50 listing IDs can be specified with this query parameter, and each unique listing ID is separated with a comma.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This query parameter is used if the user wants to set a limit on the number of listing violations that are returned in the current result set. This parameter is used in conjunction with the offset parameter to control the pagination of the output. For example, if offset is set to 10 and limit is set to 10, the call retrieves listing violations 11 thru 20 from the collection of listing violations that match the value set in the compliance_type parameter. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0. If the listing_id parameter is included in the request, this parameter will be ignored. Default: 100 Maximum: 200",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PagedComplianceViolationCollection"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.inventory"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization Code": {
      "description": "The security definitions for this API. Please check individual operations for applicable scopes.",
      "type": "oauth2",
      "authorizationUrl": "https://auth.ebay.com/oauth2/authorize",
      "tokenUrl": "https://api.ebay.com/identity/v1/oauth2/token",
      "flow": "accessCode",
      "scopes": {
        "https://api.ebay.com/oauth/api_scope/sell.inventory": "View and manage your inventory and offers"
      }
    }
  },
  "definitions": {
    "NameValueList": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This is the name of the variation aspect, or the name of the category of information that is returned through the name-value pair. The type of information that appears here will vary based on the compliance type and type of violation."
        },
        "value": {
          "type": "string",
          "description": "This is the value of the variation aspect (in name field), or the value of the category of information that is returned through the name-value pair. The type of information that appears here will vary based on the compliance type and type of violation."
        }
      },
      "description": "This type is used to provide a name-value pair, including the identifying aspects of a product variation through the <b>variationAspects</b>container."
    },
    "VariationDetails": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The seller-defined SKU value of the variation within the multiple-variation listing with the violation{s). This field is only returned if a seller-defined SKU value is defined for the variation. SKU values are optional in listing except when creating listings using the Inventory API."
        },
        "variationAspects": {
          "type": "array",
          "description": "An array of one or more variation aspects that define a variation within a multiple variation listing. The aspect{s) returned here define the individual variation because these aspects will differ for each variation. Common varying aspects include color and size.",
          "items": {
            "$ref": "#/definitions/NameValueList"
          }
        }
      },
      "description": "This type is used to identify the product variation that has the listing violation."
    },
    "ComplianceDetail": {
      "type": "object",
      "properties": {
        "reasonCode": {
          "type": "string",
          "description": "This value states the nature of the listing violation. A reasonCode value is returned for each listing violation, and each compliance type has several reason codes. For more information on PRODUCT_ADOPTION reason codes and how to revise your listings based on these reason codes, see the Using Compliance API reason codes to revise listings topic in the Product-Based Shopping Experience Playbook. The OUTSIDE_EBAY_BUYING_AND_SELLING reason codes include the following. For each of these violations, the seller will just need to remove this information with a revise listing call: UNAPPROVED_DOMAIN_WEBLINK_IN_LISTING PHONE_NUMBER_IN_LISTING EMAIL_ADDRESS_IN_LISTING The HTTPS reason codes include the following. For each of these violations, the seller will just need to remove the HTTP link from the listing details or product details: NON_SECURE_HTTP_LINK_IN_LISTING NON_SECURE_HTTP_LINK_IN_PRODUCT"
        },
        "message": {
          "type": "string",
          "description": "This field provides a textual summary of the listing violation. A message field is returned for each listing violation."
        },
        "variation": {
          "$ref": "#/definitions/VariationDetails"
        },
        "violationData": {
          "type": "array",
          "description": "Note: This container is for future use. Once it becomes available, this container will provide more information about the listing violation if applicable. The type of information that appears here will vary based on the compliance type and type of violation.",
          "items": {
            "$ref": "#/definitions/NameValueList"
          }
        },
        "correctiveRecommendations": {
          "$ref": "#/definitions/CorrectiveRecommendations"
        }
      },
      "description": "This type is used by each listing violation that is returned under the <b>violations</b> container."
    },
    "ComplianceSummary": {
      "type": "object",
      "properties": {
        "violationSummaries": {
          "type": "array",
          "description": "This container is an array of one or more policy violation counts. A policy violation count is returned for each unique eBay marketplace and compliance type violation.",
          "items": {
            "$ref": "#/definitions/ComplianceSummaryInfo"
          }
        }
      },
      "description": "This type is the base type for the <b>getListingViolationsSummary</b> response. The <b>violationSummaries</b> container contains an array of policy violation counts for each unique eBay marketplace and compliance type violation."
    },
    "CorrectiveRecommendations": {
      "type": "object",
      "properties": {
        "productRecommendation": {
          "$ref": "#/definitions/ProductRecommendation"
        }
      },
      "description": "This type is used by the <strong>correctiveRecommendations</strong> container, which is returned if eBay has found an eBay Catalog product that may be a match for the product (or product variation) that has a listing violation.<br><br><span class=\"tablenote\"><strong>Note:</strong> As of August 2018, this container is only returned for the following Product-Based Shopping Experience categories: Smart Speakers (Cat. ID 184435), Audio Docks &amp; Mini Speakers (Cat. ID 111694), Internet TV &amp; Media Streamers (Cat. ID 168058), Space Heaters (Cat. ID 20613), Air Purifiers (Cat. ID 43510), Humidifiers (Cat. ID 71240), Portable Fans (Cat. ID 20612), and Programmable Thermostats (Cat. ID 115949).</span>"
    },
    "ComplianceViolation": {
      "type": "object",
      "properties": {
        "complianceType": {
          "type": "string",
          "description": "This enumeration value indicates the compliance type of listing violation. See ComplianceTypeEnum for more information on each compliance type. This will always be returned for each listing violation that is found. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/compliance/types/ComplianceTypeEnum.html'>eBay API documentation</a>"
        },
        "listingId": {
          "type": "string",
          "description": "The unique identifier of the eBay listing that currently has the corresponding listing violation{s). This will always be returned for each listing that has one or more violations."
        },
        "sku": {
          "type": "string",
          "description": "The seller-defined SKU value of the product in the listing with the violation{s). This field is only returned if defined in the listing. SKU values are optional in listings except when creating listings using the Inventory API model."
        },
        "offerId": {
          "type": "string",
          "description": "Note: This field is for future use, and will not be returned, even for listings created through the Inventory API. The unique identifier of the offer. This field is only applicable and returned for listings that were created through the Inventory API. To convert an Inventory Item object into an eBay listing, an Offer object must be created and published."
        },
        "violations": {
          "type": "array",
          "description": "This container consists of an array of one or more listing violations applicable to the eBay listing specified in the listingId field. This array is returned for each eBay listing that has one or more violations.",
          "items": {
            "$ref": "#/definitions/ComplianceDetail"
          }
        }
      },
      "description": "This type is used by each listing violation that is returned under the <b>listingViolations</b> container."
    },
    "ComplianceSummaryInfo": {
      "type": "object",
      "properties": {
        "complianceType": {
          "type": "string",
          "description": "This enumeration value indicates the type of compliance. See ComplianceTypeEnum for more information on each compliance type. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/compliance/types/ComplianceTypeEnum.html'>eBay API documentation</a>"
        },
        "marketplaceId": {
          "type": "string",
          "description": "This enumeration value indicates the eBay marketplace where the listing violations are occurring. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/compliance/types/MarketplaceIdEnum.html'>eBay API documentation</a>"
        },
        "listingCount": {
          "type": "integer",
          "description": "This integer value indicates the number of eBay listings that are currently violating the compliance type indicated in the complianceType field for the eBay marketplace indicated in the marketplaceId field. If there are no listing violations for the corresponding compliance type, 0 will be returned."
        }
      },
      "description": "This type is used by each unique eBay marketplace and compliance type combination that is returned in the <strong>getListingViolationsSummary</strong> response to indicate the total number of listing violations in regards to that eBay marketplace and compliance type."
    },
    "PagedComplianceViolationCollection": {
      "type": "object",
      "properties": {
        "offset": {
          "type": "integer",
          "description": "The distance {number of records) from the first policy violation in the collection to the first policy violation in this result set. In the call request, you can use the offset parameter in conjunction with the limit parameter to control the pagination of the output. For example, if offset is set to 30 and limit is set to 10, the call retrieves policy violations 31 thru 40 from the resulting collection of policy violations. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0. Default: 0 {zero)"
        },
        "href": {
          "type": "string",
          "description": "The URI of the getListingViolations call request that produced this result set."
        },
        "total": {
          "type": "integer",
          "description": "The total number of policy violations in the collection. Note: If no policy violations are found, this field is returned with a value of 0."
        },
        "next": {
          "type": "string",
          "description": "The getListingViolations call URI for the next result set. For example, the following URI returns policy violations 41 thru 50 from the collection of policy violations: path/listing_violation?limit=10&amp;offset=40 This field is only returned if an additional page of listing violations exists."
        },
        "prev": {
          "type": "string",
          "description": "The getListingViolations call URI for the previous result set. For example, the following URI returns policy violations 21 thru 30 from the collection of policy violations: path/listing_violation?limit=10&amp;offset=20 Note: This feature employs a zero-based list, where the first policy violation in the list has an offset of 0. This field is only returned if a previous page of listing violations exists."
        },
        "limit": {
          "type": "integer",
          "description": "The maximum number of policy violations returned in the current result set. Note: If this is the last or only result set in the collection, it may contain fewer listing violations. To determine the number of result sets in the collection, divide this into the value of total and round up to the next integer. Default: 50 Max: 200"
        },
        "listingViolations": {
          "type": "array",
          "description": "An array of listing violations that match the criteria in the call request, including pagination control {if set). An empty array is returned if no listing violations are found.",
          "items": {
            "$ref": "#/definitions/ComplianceViolation"
          }
        }
      },
      "description": "This type is used by the base response of the <strong>getListingViolations</strong> method."
    },
    "ProductRecommendation": {
      "type": "object",
      "properties": {
        "epid": {
          "type": "string",
          "description": "This field will return the eBay Product ID {ePID) of an eBay Catalog product that eBay recommends that the seller use to make their listing compliant. See the Product-Based Shopping Experience Playbook for more details on passing in an ePID for single and multiple-variation listings using the Inventory or Trading APIs. Note: As of August 2018, this container is only returned for the following Product-Based Shopping Experience categories: Smart Speakers (Cat. ID 184435), Audio Docks &amp; Mini Speakers (Cat. ID 111694), Internet TV &amp; Media Streamers (Cat. ID 168058), Space Heaters (Cat. ID 20613), Air Purifiers (Cat. ID 43510), Humidifiers (Cat. ID 71240), Portable Fans (Cat. ID 20612), and Programmable Thermostats (Cat. ID 115949)."
        }
      },
      "description": "This type is used by the <strong>productRecommendation</strong> container, which is returned if eBay has found an eBay Catalog product that may be a match for the product (or product variation) that has a listing violation.<br><br><span class=\"tablenote\"><strong>Note:</strong> As of August 2018, this container is only returned for the following Product-Based Shopping Experience categories: Smart Speakers (Cat. ID 184435), Audio Docks &amp; Mini Speakers (Cat. ID 111694), Internet TV &amp; Media Streamers (Cat. ID 168058), Space Heaters (Cat. ID 20613), Air Purifiers (Cat. ID 43510), Humidifiers (Cat. ID 71240), Portable Fans (Cat. ID 20612), and Programmable Thermostats (Cat. ID 115949).</span>"
    }
  }
}