{
  "swagger": "2.0",
  "info": {
    "description": "Use the Fulfillment API to complete the process of packaging, addressing, handling, and shipping each order on behalf of the seller, in accordance with the payment method and timing specified at checkout.",
    "version": "v1.6.0",
    "title": "Fulfillment API",
    "contact": {
      "name": "eBay Inc."
    },
    "license": {
      "name": "eBay API License Agreement",
      "url": "https://go.developer.ebay.com/api-license-agreement"
    }
  },
  "host": "api.ebay.com",
  "basePath": "/sell/fulfillment/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/order/{orderId}": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Get an Order",
        "description": "Use this call to retrieve the contents of an order based on its unique identifier, orderId. This value was returned in the getOrders call's orders.orderId field when you searched for orders by creation date, modification date, or fulfillment status. The returned Order object contains information you can use to create and process fulfillments, including: Information about the buyer and seller Information about the order's line items The plans for packaging, addressing and shipping the order The status of payment, packaging, addressing, and shipping the order A summary of monetary amounts specific to the order such as pricing, payments, and shipping costs",
        "operationId": "getOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The unique identifier of the order. This value was returned by the getOrders call in the orders.orderId field; for example, 170009092860-9849164007!140000000544476.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment",
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly"
            ]
          }
        ]
      }
    },
    "/order": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Get Orders",
        "description": "Use this call to search for and retrieve one or more orders based on their creation date, last modification date, or fulfillment status using the filter parameter. You can alternatively specify a list of orders using the orderIds parameter. The returned Order objects contain information you can use to create and process fulfillments, including: Information about the buyer and seller Information about the order's line items The plans for packaging, addressing and shipping the order The status of payment, packaging, addressing, and shipping the order A summary of monetary amounts specific to the order such as pricing, payments, and shipping costs Important: In this call, the cancelStatus.cancelRequests array is returned but is always empty. Use the getOrder call instead, which returns this array fully populated with information about any cancellation requests.",
        "operationId": "getOrders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "One or more comma-separated criteria for narrowing down the collection of orders returned by this call. These criteria correspond to specific fields in the response payload. Multiple filter criteria combine to further restrict the results. Note: Currently, filter returns data from only the last 90 days. If the orderIds parameter is included in the request, the filter parameter will be ignored. The available criteria are as follows: creationdate The time period during which qualifying orders were created (the orders.creationDate field). In the URI, this is expressed as a starting timestamp, with or without an ending timestamp (in brackets). The timestamps are in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.For example: creationdate:[2016-02-21T08:25:43.511Z..] identifies orders created on or after the given timestamp. creationdate:[2016-02-21T08:25:43.511Z..2016-04-21T08:25:43.511Z] identifies orders created between the given timestamps, inclusive. lastmodifieddate The time period during which qualifying orders were last modified (the orders.modifiedDate field). In the URI, this is expressed as a starting timestamp, with or without an ending timestamp (in brackets). The timestamps are in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.For example: lastmodifieddate:[2016-05-15T08:25:43.511Z..] identifies orders modified on or after the given timestamp. lastmodifieddate:[2016-05-15T08:25:43.511Z..2016-05-31T08:25:43.511Z] identifies orders modified between the given timestamps, inclusive. Note: If creationdate and lastmodifieddate are both included, only creationdate is used. orderfulfillmentstatus The degree to which qualifying orders have been shipped (the orders.orderFulfillmentStatus field). In the URI, this is expressed as one of the following value combinations: orderfulfillmentstatus:{NOT_STARTED|IN_PROGRESS} specifies orders for which no shipping fulfillments have been started, plus orders for which at least one shipping fulfillment has been started but not completed. orderfulfillmentstatus:{FULFILLED|IN_PROGRESS} specifies orders for which all shipping fulfillments have been completed, plus orders for which at least one shipping fulfillment has been started but not completed. Note: The values NOT_STARTED, IN_PROGRESS, and FULFILLED can be used in various combinations, but only the combinations shown here are currently supported. Here is an example of a getOrders call using all of these filters: GET https://api.ebay.com/sell/v1/order? filter=creationdate:%5B2016-03-21T08:25:43.511Z..2016-04-21T08:25:43.511Z%5D, lastmodifieddate:%5B2016-05-15T08:25:43.511Z..%5D, orderfulfillmentstatus:%7BNOT_STARTED%7CIN_PROGRESS%7D Note: This call requires that certain special characters in the URI query string be percent-encoded: &nbsp;&nbsp;&nbsp;&nbsp;[ = %5B &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;] = %5D &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ = %7B &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| = %7C &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} = %7D This query filter example uses these codes. For implementation help, refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/FilterField.html",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of orders to return per page of the result set. Use this parameter in conjunction with the offset parameter to control the pagination of the output. For example, if offset is set to 10 and limit is set to 10, the call retrieves orders 11 thru 20 from the result set. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0. If the orderIds parameter is included in the request, this parameter will be ignored. Maximum: 1000 Default: 50",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The first order to return based on its position in the collection of orders. Use this parameter in conjunction with the limit parameter to control the pagination of the output. For example, if offset is set to 10 and limit is set to 10, the call retrieves orders 11 thru 20 from the resulting collection of orders. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0. If the orderIds parameter is included in the request, this parameter will be ignored. Default: 0 (zero)",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "A comma-separated list of the unique identifiers of the orders to retrieve (maximum 50). These values were originally generated by eBay as a result of the buyer's checkout process; for example, 170009092860-9849164007!140000000544476. These values are also returned in the orders.orderId field by invoking this call with filter parameters. Note: If the orderIds parameter is included in the request, all other query parameters will be ignored.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrderSearchPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment",
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly"
            ]
          }
        ]
      }
    },
    "/order/{orderId}/shipping_fulfillment": {
      "get": {
        "tags": [
          "shipping_fulfillment"
        ],
        "summary": "Get Shipping Fulfillments",
        "description": "Use this call to retrieve the contents of all fulfillments currently defined for a specified order based on the order's unique identifier, orderId. This value is returned in the getOrders call's members.orderId field when you search for orders by creation date or shipment status.",
        "operationId": "getShippingFulfillments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The unique identifier of the order. This value was returned by the getOrders call in the orders.orderId field; for example, 170009092860-9849164007!140000000544476.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShippingFulfillmentPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment",
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "shipping_fulfillment"
        ],
        "summary": "Create a Shipping Fulfillment",
        "description": "When you group an order's line items into one or more packages, each package requires a corresponding plan for handling, addressing, and shipping; this is a shipping fulfillment. For each package, execute this call once to generate a shipping fulfillment associated with that package. Note: A single line item in an order can consist of multiple units of a purchased item, and one unit can consist of multiple parts or components. Although these components might be provided by the manufacturer in separate packaging, the seller must include all components of a given line item in the same package. Before using this call for a given package, you must determine which line items are in the package. If the package has been shipped, you should provide the date of shipment in the request. If not provided, it will default to the current date and time.",
        "operationId": "createShippingFulfillment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The unique identifier of the order. This value was returned by the getOrders call in the orders.orderId field; for example, 170009092860-9849164007!140000000544476.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "fulfillment payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingFulfillmentDetails"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created. The call also returns the following location code: <br /><br /><code>{ENV}/sell/fulfillment/v1/order/{ORDERID}/shipping_fulfillment/{FULFILLMENTID}</code> <br /><br />The <code>ENV</code> string is the HTTPS path to the same eBay supported environment in which this call was issued. The <code>ORDERID</code> parameter is the unique identifier of the order addressed by this call; for example, <code>170009092860-9849164007!140000000544476</code>. The <code>FULFILLMENTID</code> parameter identifies the newly created fulfillment; for example, <code>9405509699937003457459</code>. Use this Get Fulfillment URI to retrieve the contents of the new fulfillment.",
            "schema": {
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "A successful call returns the following location code: {ENV}/sell/fulfillment/v1/order/{ORDERID}/shipping_fulfillment/{FULFILLMENTID} The ENV string is the HTTPS path to the same eBay supported environment in which this call was issued. The ORDERID parameter is the unique identifier of the order addressed by this call; for example, 170009092860-9849164007!140000000544476. The FULFILLMENTID parameter identifies the newly created fulfillment; for example, 9405509699937003457459. Use this Get Fulfillment URI to retrieve the contents of the new fulfillment."
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error. <br /><br /><span class=\"tablenote\"><strong>Note:</strong> In some cases, this call may succeed if you issue it once more after receiving this error.</span>"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment"
            ]
          }
        ]
      }
    },
    "/order/{orderId}/shipping_fulfillment/{fulfillmentId}": {
      "get": {
        "tags": [
          "shipping_fulfillment"
        ],
        "summary": "Get a Shipping Fulfillment",
        "description": "Use this call to retrieve the contents of a fulfillment based on its unique identifier, fulfillmentId (combined with the associated order's orderId). The fulfillmentId value was originally generated by the createShippingFulfillment call, and is returned by the getShippingFulfillments call in the members.fulfillmentId field.",
        "operationId": "getShippingFulfillment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fulfillmentId",
            "in": "path",
            "description": "The unique identifier of the fulfillment. This eBay-generated value was created by the Create Shipping Fulfillment call, and returned by the getShippingFulfillments call in the fulfillments.fulfillmentId field; for example, 9405509699937003457459.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The unique identifier of the order. This value was returned by the getOrders call in the orders.orderId field; for example, 170009092860-9849164007!140000000544476.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShippingFulfillment"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment",
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization Code": {
      "description": "The security definitions for this API. Please check individual operations for applicable scopes.",
      "type": "oauth2",
      "authorizationUrl": "https://auth.ebay.com/oauth2/authorize",
      "tokenUrl": "https://api.ebay.com/identity/v1/oauth2/token",
      "flow": "accessCode",
      "scopes": {
        "https://api.ebay.com/oauth/api_scope/sell.fulfillment": "View and manage your order fulfillments",
        "https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly": "View your order fulfillments"
      }
    }
  },
  "definitions": {
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The primary telephone number for the shipping recipient."
        }
      },
      "description": "This type contains a string field representing a telephone number."
    },
    "Error": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The context or source of this error or warning."
        },
        "domain": {
          "type": "string",
          "description": "The name of the domain containing the service or application. For example, sell is a domain."
        },
        "errorId": {
          "type": "integer",
          "description": "A positive integer that uniquely identifies the specific error condition that occurred. Your application can use these values as error code identifiers in your customized error-handling algorithms."
        },
        "inputRefIds": {
          "type": "array",
          "description": "A list of one or more specific request elements (if any) associated with the error or warning. The format of these strings depends on the request payload format. For JSON, use JSONPath notation.",
          "items": {
            "type": "string"
          }
        },
        "longMessage": {
          "type": "string",
          "description": "An expanded version of the message field. Maximum length: 200 characters"
        },
        "message": {
          "type": "string",
          "description": "A message about the error or warning which is device agnostic and readable by end users and application developers. It explains what the error or warning is, and how to fix it (in a general sense). If applicable, the value is localized to the end user's requested locale. Maximum length: 50 characters"
        },
        "outputRefIds": {
          "type": "array",
          "description": "A list of one or more specific response elements (if any) associated with the error or warning. The format of these strings depends on the request payload format. For JSON, use JSONPath notation.",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "array",
          "description": "Contains a list of name/value pairs that provide additional information concerning this error or warning. Each item in the list is an input parameter that contributed to the error or warning condition.",
          "items": {
            "$ref": "#/definitions/ErrorParameter"
          }
        },
        "subdomain": {
          "type": "string",
          "description": "The name of the domain's subsystem or subdivision. For example, fulfillment is a subdomain in the sell domain."
        }
      },
      "description": "This type contains a error or warning related to a call request. "
    },
    "ErrorParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This is the name of input field that caused an issue with the call request."
        },
        "value": {
          "type": "string",
          "description": "This is the actual value that was passed in for the element specified in the name field."
        }
      },
      "description": "This type contains the name and value of an input parameter that contributed to a specific error or warning condition."
    },
    "Address": {
      "type": "object",
      "properties": {
        "addressLine1": {
          "type": "string",
          "description": "The first line of the street address."
        },
        "addressLine2": {
          "type": "string",
          "description": "The second line of the street address. This field can be used for additional address information, such as a suite or apartment number. This field will be returned if defined for the shipping address."
        },
        "city": {
          "type": "string",
          "description": "The city of the shipping destination."
        },
        "countryCode": {
          "type": "string",
          "description": "The country of the shipping destination, represented as a two-letter ISO 3166-1 alpha-2 country code. For example, US represents the United States, and DE represents Germany. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CountryCodeEnum.html'>eBay API documentation</a>"
        },
        "county": {
          "type": "string",
          "description": "The county of the shipping destination. Counties typically, but not always, contain multiple cities or towns. This field is returned if known/available."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the shipping destination. Usually referred to as Zip codes in the US. Most countries have postal codes, but not all. The postal code will be returned if applicable."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "The state or province of the shipping destination. Most countries have states or provinces, but not all. The state or province will be returned if applicable."
        }
      },
      "description": "This type contains the details of a geographical address."
    },
    "Amount": {
      "type": "object",
      "properties": {
        "convertedFromCurrency": {
          "type": "string",
          "description": "A three-letter ISO 4217 code that indicates the currency of the amount in the convertedFromValue field. This value is required or returned only if currency conversion/localization is required, and represents the pre-conversion currency. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay API documentation</a>"
        },
        "convertedFromValue": {
          "type": "string",
          "description": "The monetary amount before any conversion is performed, in the currency specified by the convertedFromCurrency field. This value is required or returned only if currency conversion/localization is required. The value field contains the converted amount of this value, in the currency specified by the currency field."
        },
        "currency": {
          "type": "string",
          "description": "A three-letter ISO 4217 code that indicates the currency of the amount in the value field. If currency conversion/localization is required, this is the post-conversion currency of the amount in the value field. Default: The currency of the authenticated user's country. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay API documentation</a>"
        },
        "value": {
          "type": "string",
          "description": "The monetary amount, in the currency specified by the currency field. If currency conversion/localization is required, this value is the converted amount, and the convertedFromValue field contains the amount in the original currency."
        }
      },
      "description": "This type defines the monetary value of an amount. It can provide the amount in both the currency used on the eBay site where an item is being offered and the conversion of that value into another currency, if applicable."
    },
    "AppliedPromotion": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the applied sales promotion."
        },
        "discountAmount": {
          "$ref": "#/definitions/Amount"
        },
        "promotionId": {
          "type": "string",
          "description": "An eBay-generated unique identifier of the sales promotion. Multiple types of sales promotions are available to eBay Store owners, including order size/volume discounts, shipping discounts, special coupons, and price markdowns. Sales promotions can be managed through the Marketing tab of Seller Hub in My eBay, or by using the Trading API's SetPromotionalSale call or the Marketing API's createItemPromotion method."
        }
      },
      "description": "This type contains information about a sales promotion that is applied to a line item."
    },
    "Buyer": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "The buyer's eBay user ID."
        }
      },
      "description": "This type contains information about the buyer of an order."
    },
    "CancelRequest": {
      "type": "object",
      "properties": {
        "cancelCompletedDate": {
          "type": "string",
          "description": "The date and time that the order cancellation was completed, if applicable. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned until the cancellation request has actually be granted by the seller. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "cancelInitiator": {
          "type": "string",
          "description": "This string value indicates the party who made the initial cancellation request. Typically, either the 'Buyer' or 'Seller'. If a cancellation request has been made, this field should be returned."
        },
        "cancelReason": {
          "type": "string",
          "description": "The reason why the cancelInitiator initiated the cancellation request. Cancellation reasons for a buyer might include 'order placed by mistake' or 'order won't arrive in time'. For a seller, a typical cancellation reason is 'out of stock'. If a cancellation request has been made, this field should be returned."
        },
        "cancelRequestedDate": {
          "type": "string",
          "description": "The date and time that the order cancellation was requested. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is returned for each cancellation request. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "cancelRequestId": {
          "type": "string",
          "description": "The unique identifier of the order cancellation request. This field is returned for each cancellation request."
        },
        "cancelRequestState": {
          "type": "string",
          "description": "The current stage or condition of the cancellation request. This field is returned for each cancellation request. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelRequestStateEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type contains information about a buyer request to cancel an order."
    },
    "CancelStatus": {
      "type": "object",
      "properties": {
        "cancelledDate": {
          "type": "string",
          "description": "The date and time the order was cancelled, if applicable. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "cancelRequests": {
          "type": "array",
          "description": "This array contains details of one or more buyer requests to cancel the order. For the getOrders call: This array is returned but is always empty. For the getOrder call: This array is returned fully populated with information about any cancellation requests.",
          "items": {
            "$ref": "#/definitions/CancelRequest"
          }
        },
        "cancelState": {
          "type": "string",
          "description": "The state of the order with regard to cancellation. This field is always returned, and if there are no cancellation requests, a value of NONE_REQUESTED is returned. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelStateEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type contains information about any requests that have been made to cancel an order."
    },
    "DeliveryCost": {
      "type": "object",
      "properties": {
        "importCharges": {
          "$ref": "#/definitions/Amount"
        },
        "shippingCost": {
          "$ref": "#/definitions/Amount"
        },
        "shippingIntermediationFee": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "This type contains a breakdown of all costs associated with the fulfillment of a line item."
    },
    "EbayCollectAndRemitTax": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Amount"
        },
        "taxType": {
          "type": "string",
          "description": "The type of tax that eBay will collect and remit to the taxing authority. See the TaxTypeEnum type definition for more information about each tax type. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/TaxTypeEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type contains information about the type and amount of tax that eBay will collect and remit to the state, province, country, or other taxing authority in the buyer's location, as required by that taxing authority."
    },
    "ExtendedContact": {
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "The company name associated with the buyer or eBay shipping partner. This field is only returned if defined/applicable to the buyer or eBay shipping partner."
        },
        "contactAddress": {
          "$ref": "#/definitions/Address"
        },
        "email": {
          "type": "string",
          "description": "This field shows the email address of the buyer. The email address of a buyer will be masked 14 days after order creation. This field will still be returned for the order, but it will not contain the buyer's email address, but instead, something like 'Invalid Request'. Note: This field always contains the email address of the buyer even with a Global Shipping Program shipment."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the buyer or eBay shipping partner."
        },
        "primaryPhone": {
          "$ref": "#/definitions/PhoneNumber"
        }
      },
      "description": "This type contains shipping and contact information for a buyer or an eBay shipping partner."
    },
    "FulfillmentStartInstruction": {
      "type": "object",
      "properties": {
        "ebaySupportedFulfillment": {
          "type": "boolean",
          "description": "This field is only returned if its value is true and indicates that the fulfillment will be shipped via eBay's Global Shipping Program. For more information, see the Global Shipping Program help topic."
        },
        "finalDestinationAddress": {
          "$ref": "#/definitions/Address"
        },
        "fulfillmentInstructionsType": {
          "type": "string",
          "description": "The enumeration value returned in this field indicates the method of fulfillment that will be used to deliver this set of line items (this package) to the buyer. This field will have a value of SHIP_TO if the ebaySupportedFulfillment field is returned with a value of true. See the FulfillmentInstructionsType definition for more information about different fulfillment types. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/FulfillmentInstructionsType.html'>eBay API documentation</a>"
        },
        "maxEstimatedDeliveryDate": {
          "type": "string",
          "description": "This is the estimated latest date that the fulfillment will be completed. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned ifthe value of the fulfillmentInstructionsType field is DIGITAL or PREPARE_FOR_PICKUP. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "minEstimatedDeliveryDate": {
          "type": "string",
          "description": "This is the estimated earliest date that the fulfillment will be completed. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned if the value of the fulfillmentInstructionsType field is DIGITAL or PREPARE_FOR_PICKUP. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "shippingStep": {
          "$ref": "#/definitions/ShippingStep"
        }
      },
      "description": "This type contains a set of specifications for processing a fulfillment of an order, including the type of fulfillment, shipping carrier and service, addressing details, and estimated delivery window. These instructions are derived from the buyer's and seller's eBay account preferences, the listing parameters, and the buyer's checkout selections. The seller can use them as a starting point for packaging, addressing, and shipping the order."
    },
    "GiftDetails": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "This field contains the gift message from the buyer to the gift recipient. This field is only returned if the buyer of the gift included a message for the gift."
        },
        "recipientEmail": {
          "type": "string",
          "description": "The email address of the gift recipient. The seller will send the digital gift card to this email address."
        },
        "senderName": {
          "type": "string",
          "description": "The name of the buyer, which will appear on the email that is sent to the gift recipient."
        }
      },
      "description": "This type contains information about a digital gift card line item that was purchased as a gift, and sent to the recipient by email."
    },
    "LineItem": {
      "type": "object",
      "properties": {
        "appliedPromotions": {
          "type": "array",
          "description": "This array contains information about one or more sales promotions or discounts applied to the line item. It is always returned, but will be returned as an empty array if no special sales promotions or discounts apply to the order line item.",
          "items": {
            "$ref": "#/definitions/AppliedPromotion"
          }
        },
        "deliveryCost": {
          "$ref": "#/definitions/DeliveryCost"
        },
        "discountedLineItemCost": {
          "$ref": "#/definitions/Amount"
        },
        "ebayCollectAndRemitTaxes": {
          "type": "array",
          "description": "This container will be returned if the order line item is subject to a tax that eBay will collect and remit to the proper taxing authority on the buyer's behalf. The amount of this tax is shown in the amount field, and the type of tax is shown in the taxType field. eBay will display the tax type and amount during checkout in accordance with the buyer's address, and handle collection and remittance of the tax without requiring the seller to take any action.",
          "items": {
            "$ref": "#/definitions/EbayCollectAndRemitTax"
          }
        },
        "giftDetails": {
          "$ref": "#/definitions/GiftDetails"
        },
        "legacyItemId": {
          "type": "string",
          "description": "The eBay-generated legacy listing item ID of the listing. Note that the unique identifier of a listing in REST-based APIs is called the listingId instead."
        },
        "legacyVariationId": {
          "type": "string",
          "description": "The unique identifier of a single variation within a multiple-variation listing. This field is only returned if the line item purchased was from a multiple-variation listing."
        },
        "lineItemCost": {
          "$ref": "#/definitions/Amount"
        },
        "lineItemFulfillmentInstructions": {
          "$ref": "#/definitions/LineItemFulfillmentInstructions"
        },
        "lineItemFulfillmentStatus": {
          "type": "string",
          "description": "This enumeration value indicates the current fulfillment status of the line item. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/LineItemFulfillmentStatusEnum.html'>eBay API documentation</a>"
        },
        "lineItemId": {
          "type": "string",
          "description": "This is the unique identifier of an eBay order line item. This field is created as soon as there is a commitment to buy from the seller, and its value is based upon the concatenation of item ID/listing ID and the transaction ID, with a hyphen in between these two identifiers. Note: A single line item can consist of multiple units of a purchased item."
        },
        "listingMarketplaceId": {
          "type": "string",
          "description": "The unique identifier of the eBay marketplace where the line item was listed. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay API documentation</a>"
        },
        "properties": {
          "$ref": "#/definitions/LineItemProperties"
        },
        "purchaseMarketplaceId": {
          "type": "string",
          "description": "The unique identifier of the eBay marketplace where the line item was listed. Often, the listingMarketplaceId and the purchaseMarketplaceId identifier are the same, but there are occasions when an item will surface on multiple eBay marketplaces. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay API documentation</a>"
        },
        "quantity": {
          "type": "integer",
          "description": "The number of units of the line item in the order. These are represented as a group by a single lineItemId."
        },
        "refunds": {
          "type": "array",
          "description": "This array is only returned if the seller has submitted a partial or full refund to the buyer for the order. If a refund has occurred, the refund amount and refund date will be shown for each refund.",
          "items": {
            "$ref": "#/definitions/LineItemRefund"
          }
        },
        "sku": {
          "type": "string",
          "description": "Seller-defined Stock-Keeping Unit (SKU). This inventory identifier must be unique within the seller's eBay inventory. SKUs are optional when listing in the legacy/Trading API system, but SKUs are required when listing items through the Inventory API model."
        },
        "soldFormat": {
          "type": "string",
          "description": "The eBay listing type of the line item. The most common listing types are AUCTION and FIXED_PRICE. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/SoldFormatEnum.html'>eBay API documentation</a>"
        },
        "taxes": {
          "type": "array",
          "description": "Contains a list of taxes applied to the line item, if any. This array is always returned, but will be returned as empty if no taxes are applicable to the line item.",
          "items": {
            "$ref": "#/definitions/Tax"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the listing."
        },
        "total": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "This type contains the details of a line item in an order. A line item consists of one or more units of a specific variation and version of a listed item that has been purchased."
    },
    "LineItemFulfillmentInstructions": {
      "type": "object",
      "properties": {
        "guaranteedDelivery": {
          "type": "boolean",
          "description": "This field is returned as true if the order line item is qualified for eBay Guaranteed Delivery, or false if it is not eligible. Only domestic shipments are available for eBay Guaranteed Delivery. At this time, eBay Guaranteed Delivery is only available to a select number of sellers on the US and Australia sites, but this feature will be enabled on more eBay sites in 2019. There are two different eBay Guaranteed Delivery options - 'Handling time' option and 'Door-to-Door' option. With both options, the seller is commiting to getting the order delivered to the buyer within three business days after purchase. With the 'Handling time' option, the seller's stated handling time for a listing must be 'same-day' or '1-day', and at least one of the available shipping service options should have a shipping time that guarantees that the buyer receives the order on time. With this option, eBay will set the 'ship-by date' and expected delivery window for the seller, and the seller should just make sure they physically ship the order by the shipToDate. With the 'Door-to-door' option, the seller must create regional shipping rate tables (with shipping costs and delivery times based on destination regions), and then apply these regional shipping rates/delivery times to the listing. If a 'Door-to-door' order does not arrive on time, the seller must refund the buyer the full shipping cost (if any), and the buyer also has the option of returning the item for a full refund, and the seller will also have to pay the return shipping cost. With 'Handling time' option, as long as the seller meets the stated handling time, and ships using the correct shipping service option, eBay will refund the buyer the shipping cost and pay for return shipping label (if buyer wants to return item) if the order arrives after the expected delivery time. For more information on the details and requirements of eBay Guaranteed Delivery, see the Offering eBay Guaranteed Delivery help topic. This field will always be returned regardless of whether the listing site offers eBay Guaranteed Delivery or if the seller is opted in to the feature."
        },
        "maxEstimatedDeliveryDate": {
          "type": "string",
          "description": "The estimated latest date and time that the buyer can expect to receive the line item based on the seller's stated handling time and the transit times of the available shipping service options. If the listing is eligible for eBay Guaranteed Delivery (value of guaranteedDelivery field is true, the seller must pay extra attention to this date, as a failure to deliver by this date/time can result in a 'Late shipment' seller defect, and can affect seller level and Top-Rated Seller status. In addition to the seller defect, buyers will be eligible for a shipping cost refund, and will also be eligible to return the item for a full refund (with no return shipping charge) if they choose. Note: This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "minEstimatedDeliveryDate": {
          "type": "string",
          "description": "The estimated earliest date and time that the buyer can expect to receive the line item based on the seller's stated handling time and the transit times of the available shipping service options. Note: This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "shipByDate": {
          "type": "string",
          "description": "The latest date and time by which the seller should ship line item in order to meet the expected delivery window. This timestamp will be set by eBay based on time of purchase and the seller's stated handling time. If the listing is eligible for eBay Guaranteed Delivery (value of guaranteedDelivery field is true, the seller must pay extra attention to this date, as a failure to physically ship the line item by this date/time can result in a 'Late shipment' seller defect, and can affect seller level and Top-Rated Seller status. In addition to the seller defect, buyers will be eligible for a shipping cost refund, and will also be eligible to return the item for a full refund (with no return shipping charge) if they choose. Note: This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        }
      },
      "description": "This type contains the specifications for processing the fulfillment of a line item, including the handling window and the delivery window. These fields provide guidance for <i>eBay Guaranteed Delivery</i> as well as for non-guaranteed delivery."
    },
    "LineItemProperties": {
      "type": "object",
      "properties": {
        "buyerProtection": {
          "type": "boolean",
          "description": "A value of true indicates that the line item is covered by eBay's Buyer Protection program."
        },
        "fromBestOffer": {
          "type": "boolean",
          "description": "This field is only returned if true and indicates that the purchase occurred by the buyer and seller mutually agreeing on a Best Offer amount. The Best Offer feature can be set up for any listing type, but if this feature is set up for an auction listing, it will no longer be available once a bid has been placed on the listing."
        },
        "soldViaAdCampaign": {
          "type": "boolean",
          "description": "This field is only returned if true and indicates that the line item was sold as a result of a seller's ad campaign."
        }
      },
      "description": "This type contains information about the eBay programs under which a line item was listed and sold."
    },
    "LineItemReference": {
      "type": "object",
      "properties": {
        "lineItemId": {
          "type": "string",
          "description": "This is the unique identifier of the eBay order line item that is part of the shipping fulfillment. The line item ID is created as soon as there is a commitment to buy from the seller, and its value is based upon the concatenation of item ID/listing ID and the transaction ID, with a hyphen in between these two identifiers."
        },
        "quantity": {
          "type": "integer",
          "description": "This field is reserved for internal or future use."
        }
      },
      "description": "This type identifies the line item and quantity of that line item that comprises one fulfillment, such as a shipping package."
    },
    "LineItemRefund": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Amount"
        },
        "refundDate": {
          "type": "string",
          "description": "The date and time that the refund was issued for the line item. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned until the refund has been issued. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "refundReferenceId": {
          "type": "string",
          "description": "This field is reserved for internal or future use."
        }
      },
      "description": "This type contains refund informatino for a line item."
    },
    "Order": {
      "type": "object",
      "properties": {
        "buyer": {
          "$ref": "#/definitions/Buyer"
        },
        "buyerCheckoutNotes": {
          "type": "string",
          "description": "This field contains any comments that the buyer left for the seller about the order during checkout process. This field is only returned if a buyer left comments at checkout time."
        },
        "cancelStatus": {
          "$ref": "#/definitions/CancelStatus"
        },
        "creationDate": {
          "type": "string",
          "description": "The date and time that the order was created. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "ebayCollectAndRemitTax": {
          "type": "boolean",
          "description": "This field is only returned if true, and indicates that eBay will collect sales tax for at least one line item in the order, and remit the tax to the taxing authority of the buyer's residence. If this field is returned, the seller should search for one or more ebayCollectAndRemitTaxes containers at the line item level to get more information about the type of tax and the amount."
        },
        "fulfillmentHrefs": {
          "type": "array",
          "description": "This array contains a list of one or more getShippingFulfillment call URIs that can be used to retrieve shipping fulfillments that have been set up for the order.",
          "items": {
            "type": "string"
          }
        },
        "fulfillmentStartInstructions": {
          "type": "array",
          "description": "This container consists of a set of specifications for fulfilling the order, including the type of fulfillment, shipping carrier and service, shipping address, and estimated delivery window. These instructions are derived from the buyer's and seller's eBay account preferences, the listing parameters, and the buyer's checkout selections. The seller can use them as a starting point for packaging, addressing, and shipping the order. Note: Although this container is presented as an array, it currently returns only one set of fulfillment specifications. Additional array members will be supported in future functionality.",
          "items": {
            "$ref": "#/definitions/FulfillmentStartInstruction"
          }
        },
        "lastModifiedDate": {
          "type": "string",
          "description": "The date and time that the order was last modified. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "legacyOrderId": {
          "type": "string",
          "description": "The order's unique identifier, as formatted for legacy APIs. Both the orderId field and this field are always returned. Use the value of legacyOrderId instead of the value of orderId with APIs that require a legacy order ID, such as the Post-Order API or the Trading API. Note: The value of this field is not formatted the same way as the value of the orderId field. Do not attempt to use this field's value in the orderId field."
        },
        "lineItems": {
          "type": "array",
          "description": "This array contains the details for all line items that comprise the order. A line item consists of one or more units of a specific variation and version of a listed item that has been purchased.",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "orderFulfillmentStatus": {
          "type": "string",
          "description": "The degree to which fulfillment of the order is complete. See the OrderFulfillmentStatus type definition for more information about each possible fulfillment state. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderFulfillmentStatus.html'>eBay API documentation</a>"
        },
        "orderId": {
          "type": "string",
          "description": "The unique identifier of the order. This value was originally generated by eBay as a result of the buyer's checkout process; for example, 170009092860-9849164007!140000000544476. Note: The value of this field is not formatted the same way as the value of the Trading API's OrderID field. Use the value of the legacyOrderId field instead of this one with the Trading API."
        },
        "orderPaymentStatus": {
          "type": "string",
          "description": "The enumeration value returned in this field indicates the current payment status of an order, or in case of a refund request, the current status of the refund. See the OrderPaymentStatusEnum type definition for more information about each possible payment/refund state. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderPaymentStatusEnum.html'>eBay API documentation</a>"
        },
        "paymentSummary": {
          "$ref": "#/definitions/PaymentSummary"
        },
        "pricingSummary": {
          "$ref": "#/definitions/PricingSummary"
        },
        "sellerId": {
          "type": "string",
          "description": "The unique eBay user ID of the seller who sold the order."
        }
      },
      "description": "This type contains the details of an order, including information about the buyer, order history, shipping fulfillments, line items, costs, payments, and order fulfillment status."
    },
    "OrderRefund": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Amount"
        },
        "refundDate": {
          "type": "string",
          "description": "The date and time that the refund was issued. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned until the refund has been issued. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "refundReferenceId": {
          "type": "string",
          "description": "The eBay-generated unique identifier for the refund. This field is not returned until the refund has been issued."
        },
        "refundStatus": {
          "type": "string",
          "description": "This enumeration value indicates the current status of the refund to the buyer. This container is always returned for each refund. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/RefundStatusEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type contains information about a refund issued for an order. This does not include line item level refunds."
    },
    "OrderSearchPagedCollection": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "description": "The URI of the getOrders call request that produced the current page of the result set."
        },
        "limit": {
          "type": "integer",
          "description": "The maximum number of orders returned per page of the result set. The limit value can be passed in as a query parameter, or if omitted, its value defaults to 50. Note: If this is the last or only page of the result set, the page may contain fewer orders than the limit value. To determine the number of pages in a result set, divide the total value (total number of orders matching input criteria) by this limit value, and then round up to the next integer. For example, if the total value was 120 (120 total orders) and the limit value was 50 (show 50 orders per page), the total number of pages in the result set is three, so the seller would have to make three separate getOrders calls to view all orders matching the input criteria. Default: 50"
        },
        "next": {
          "type": "string",
          "description": "The getOrders call URI to use if you wish to view the next page of the result set. For example, the following URI returns records 41 thru 50 from the collection of orders: path/order?limit=10&amp;offset=40 This field is only returned if there is a next page of results to view based on the current input criteria."
        },
        "offset": {
          "type": "integer",
          "description": "This integer value indicates the actual position that the first order returned on the current page has in the results set. So, if you wanted to view 11th order of the result set, you would set the offset value in the request to 10. In the request, you can use the offset parameter in conjunction with the limit parameter to control the pagination of the output. For example, if offset is set to 30 and limit is set to 10, the call retrieves orders 31 thru 40 from the resulting collection of orders. Note: This feature employs a zero-based list, where the first item in the list has an offset of 0.Default: 0 (zero)"
        },
        "orders": {
          "type": "array",
          "description": "This array contains one or more orders that are part of the current result set, that is controlled by the input criteria. The details of each order include information about the buyer, order history, shipping fulfillments, line items, costs, payments, and order fulfillment status. By default, orders are returned according to creation date (oldest to newest), but the order will vary according to any filter that is set in request.",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "prev": {
          "type": "string",
          "description": "The getOrders call URI for the previous result set. For example, the following URI returns orders 21 thru 30 from the collection of orders: path/order?limit=10&amp;offset=20 This field is only returned if there is a previous page of results to view based on the current input criteria."
        },
        "total": {
          "type": "integer",
          "description": "The total number of orders in the results set based on the current input criteria. Note: If no orders are found, this field is returned with a value of 0."
        },
        "warnings": {
          "type": "array",
          "description": "This array is returned if one or more errors or warnings occur with the call request.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "This type contains the specifications for the collection of orders that match the search or filter criteria of a <b>getOrders</b> call. The collection is grouped into a result set, and based on the query parameters that are set (including the <strong>limit</strong> and <strong>offset</strong> parameters), the result set may included multiple pages, but only one page of the result set can be viewed at a time."
    },
    "Payment": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Amount"
        },
        "paymentDate": {
          "type": "string",
          "description": "The date and time that the payment was received by the seller. This field will not be returned if buyer has yet to pay for the order. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "paymentHolds": {
          "type": "array",
          "description": "This container is only returned if eBay is temporarily holding the seller's funds for the order. If a payment hold has been placed on the order, this container includes the reason for the payment hold, the expected release date of the funds into the seller's account, the current state of the hold, and as soon as the payment hold has been released, the actual release date.",
          "items": {
            "$ref": "#/definitions/PaymentHold"
          }
        },
        "paymentMethod": {
          "type": "string",
          "description": "The payment method used by the buyer to pay for the order. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentMethodTypeEnum.html'>eBay API documentation</a>"
        },
        "paymentReferenceId": {
          "type": "string",
          "description": "This field is only returned if payment has been made by the buyer, and the paymentMethod is PAYPAL. This field contains the PayPal-generated transaction identifier."
        },
        "paymentStatus": {
          "type": "string",
          "description": "The enumeration value returned in this field indicates the status of the buyer's payment for the order. See the PaymentStatusEnum type definition for more information on the possible payment states. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentStatusEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type is used to provide details about a buyer's payment for an order."
    },
    "PaymentHold": {
      "type": "object",
      "properties": {
        "expectedReleaseDate": {
          "type": "string",
          "description": "The date and time that the payment being held is expected to be released to the seller. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field will be returned if known by eBay. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "holdAmount": {
          "$ref": "#/definitions/Amount"
        },
        "holdReason": {
          "type": "string",
          "description": "The reason that the payment is being held. A seller's payment may be helf for a number of reasons, including when the seller is new, the seller's level is below standard, or if a return case or 'Significantly not as described' case is pending against the seller. This field is always returned with the paymentHolds array."
        },
        "holdState": {
          "type": "string",
          "description": "The current stage or condition of the hold. This field is always returned with the paymentHolds array. Applicable values: HELD HELD_PENDING NOT_HELD RELEASE_CONFIRMED RELEASE_FAILED RELEASE_PENDING RELEASED"
        },
        "releaseDate": {
          "type": "string",
          "description": "The date and time that the payment being held was actually released to the seller. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not returned until the seller's payment is actually released into the seller's account. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "sellerActionsToRelease": {
          "type": "array",
          "description": "A list of one or more possible actions that the seller can take to release the hold on the payment.",
          "items": {
            "$ref": "#/definitions/SellerActionsToRelease"
          }
        }
      },
      "description": "This type contains information about a hold placed on a payment to a seller for an order, including the reason why the buyer's payment for the order is being held, the expected release date of the funds into the seller's account, the current state of the hold, and the actual release date if the payment has been released, and possible actions the seller can take to expedite the payout of funds into their account."
    },
    "PaymentSummary": {
      "type": "object",
      "properties": {
        "payments": {
          "type": "array",
          "description": "This array consists of payment information for the order, including payment status, payment method, payment amount, and payment date. This array is always returned, although some of the fields under this container will not be returned until payment has been made.",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "refunds": {
          "type": "array",
          "description": "This array is always returned, but is returned as an empty array unless the seller has submitted a partial or full refund to the buyer for the order. If a refund has occurred, the refund amount and refund date will be shown for each refund.",
          "items": {
            "$ref": "#/definitions/OrderRefund"
          }
        },
        "totalDueSeller": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "This type contains information about the various monetary exchanges that apply to the net balance due for the order."
    },
    "PricingSummary": {
      "type": "object",
      "properties": {
        "adjustment": {
          "$ref": "#/definitions/Amount"
        },
        "deliveryCost": {
          "$ref": "#/definitions/Amount"
        },
        "deliveryDiscount": {
          "$ref": "#/definitions/Amount"
        },
        "fee": {
          "$ref": "#/definitions/Amount"
        },
        "priceDiscountSubtotal": {
          "$ref": "#/definitions/Amount"
        },
        "priceSubtotal": {
          "$ref": "#/definitions/Amount"
        },
        "tax": {
          "$ref": "#/definitions/Amount"
        },
        "total": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "This type contains a summary of cumulative costs and charges for all line items of an order, including item price, price adjustments, sales taxes, delivery costs, and order discounts."
    },
    "SellerActionsToRelease": {
      "type": "object",
      "properties": {
        "sellerActionToRelease": {
          "type": "string",
          "description": "A possible action that the seller can take to expedite the release of a payment hold. A sellerActionToRelease field is returned for each possible action that a seller may take. Possible actions may include providing shipping/tracking information, issuing a refund, providing refund information, contacting customer support, etc."
        }
      },
      "description": "This type is used to state possible action(s) that a seller can take to release a payment hold placed against an order."
    },
    "ShippingFulfillment": {
      "type": "object",
      "properties": {
        "fulfillmentId": {
          "type": "string",
          "description": "The unique identifier of the fulfillment; for example, 9405509699937003457459. This eBay-generated value is created with a successful createShippingFulfillment call."
        },
        "lineItems": {
          "type": "array",
          "description": "This array contains a list of one or more line items (and purchased quantity) to which the fulfillment applies.",
          "items": {
            "$ref": "#/definitions/LineItemReference"
          }
        },
        "shipmentTrackingNumber": {
          "type": "string",
          "description": "The tracking number provided by the shipping carrier for the package shipped in this fulfillment. This field is returned if available."
        },
        "shippedDate": {
          "type": "string",
          "description": "The date and time that the fulfillment package was shipped. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This field should only be returned if the package has been shipped. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z"
        },
        "shippingCarrierCode": {
          "type": "string",
          "description": "The eBay code identifying the shipping carrier for this fulfillment. This field is returned if available. Note: The Trading API's ShippingCarrierCodeType enumeration type contains the most current list of eBay shipping carrier codes and the countries served by each carrier. See ShippingCarrierCodeType."
        }
      },
      "description": "This type contains the complete details of an existing fulfillment for an order."
    },
    "ShippingFulfillmentDetails": {
      "type": "object",
      "properties": {
        "lineItems": {
          "type": "array",
          "description": "This array contains a list of or more line items and the quantity that will be shipped in the same package.",
          "items": {
            "$ref": "#/definitions/LineItemReference"
          }
        },
        "shippedDate": {
          "type": "string",
          "description": "This is the actual date and time that the fulfillment package was shipped. This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. The seller should use the actual date/time that the package was shipped, but if this field is omitted, it will default to the current date/time. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z Default: The current date and time."
        },
        "shippingCarrierCode": {
          "type": "string",
          "description": "The unique identifier of the shipping carrier being used to ship the line item(s). Technically, the shippingCarrierCode and trackingNumber fields are optional, but generally these fields will be provided if the shipping carrier and tracking number are known. Note: Use the Trading API's GeteBayDetails call to retrieve the latest shipping carrier enumeration values. When making the GeteBayDetails call, include the DetailName field in the request payload and set its value to ShippingCarrierDetails. Each valid shipping carrier enumeration value is returned in a ShippingCarrierDetails.ShippingCarrier field in the response payload."
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number provided by the shipping carrier for this fulfillment. The seller should be careful that this tracking number is accurate since the buyer will use this tracking number to track shipment, and eBay has no way to verify the accuracy of this number. This field and the shippingCarrierCode field are mutually dependent. If you include one, you must also include the other. Note: If you include trackingNumber (and shippingCarrierCode) in the request, the resulting fulfillment's ID (returned in the HTTP location code) is the tracking number. If you do not include shipment tracking information, the resulting fulfillment ID will default to an arbitrary number such as 999."
        }
      },
      "description": "This type contains the details for creating a fulfillment for an order."
    },
    "ShippingFulfillmentPagedCollection": {
      "type": "object",
      "properties": {
        "fulfillments": {
          "type": "array",
          "description": "This array contains one or more fulfillments required for the order that was specified in method endpoint.",
          "items": {
            "$ref": "#/definitions/ShippingFulfillment"
          }
        },
        "total": {
          "type": "integer",
          "description": "The total number of fulfillments in the specified order. Note: If no fulfillments are found for the order, this field is returned with a value of 0."
        },
        "warnings": {
          "type": "array",
          "description": "This array is only returned if one or more errors or warnings occur with the call request.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "This type contains the specifications for the entire collection of shipping fulfillments that are associated with the order specified by a <b>getShippingFulfillments</b> call. The <b>fulfillments</b> container returns an array of all the fulfillments in the collection."
    },
    "ShippingStep": {
      "type": "object",
      "properties": {
        "shippingCarrierCode": {
          "type": "string",
          "description": "The unique identifier of the shipping carrier being used to ship the line item. Note: The Trading API's GeteBayDetails call can be used to retrieve the latest shipping carrier and shipping service option enumeration values."
        },
        "shippingServiceCode": {
          "type": "string",
          "description": "The unique identifier of the shipping service option being used to ship the line item. Note: Use the Trading API's GeteBayDetails call to retrieve the latest shipping carrier and shipping service option enumeration values. When making the GeteBayDetails call, include the DetailName field in the request payload and set its value to ShippingServiceDetails. Each valid shipping service option (returned in ShippingServiceDetails.ShippingService field) and corresponding shipping carrier (returned in ShippingServiceDetails.ShippingCarrier field) is returned in response payload."
        },
        "shipTo": {
          "$ref": "#/definitions/ExtendedContact"
        },
        "shipToReferenceId": {
          "type": "string",
          "description": "This is the unique identifer of the Global Shipping Program (GSP) shipment. This field is only returned if the line item is being shipped via GSP (the value of the fulfillmentStartInstructions.ebaySupportedFulfillment field will be true. The international shipping provider uses the shipToReferenceId value as the primary reference number to retrieve the relevant details about the buyer, the order, and the fulfillment, so the shipment can be completed. Sellers must include this value on the shipping label immediately above the street address of the international shipping provider. Example: &quot;Reference #1234567890123456&quot; Note: This value is the same as the ShipToAddress.ReferenceID value returned by the Trading API's GetOrders call."
        }
      },
      "description": "This type contains shipping information for a fulfillment, including the shipping carrier, the shipping service option, the shipment destination, and the Global Shipping Program reference ID."
    },
    "Tax": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "This type contains information about any sales tax applied to a line item."
    }
  }
}