{
  "swagger": "2.0",
  "info": {
    "description": "The Marketing API offers two platforms that let sellers promote and advertise their products: Promoted Listings is an eBay ad service that lets sellers set up ad campaigns for the products they want to promote. eBay displays the ads in search results and in other marketing modules as SPONSORED listings. If an item in a Promoted Listings campaign sells, the seller is assessed a Promoted Listings fee, which is a seller-specified percentage of the sales price. For complete details, see Promoted Listings. Promotions Manager gives sellers a way to offer discounts on specific items as a way to attract buyers to their inventory. Sellers can set up discounts (such as &quot;20% off&quot; and other types of offers) on specific items or on an entire customer order. To further attract buyers, eBay prominently displays promotion teasers throughout buyer flows. For complete details, see Promotions Manager. Marketing reports, on both the Promoted Listings and Promotions Manager platforms, give sellers information that shows the effectiveness of their marketing strategies. The data gives sellers the ability to review and fine tune their marketing efforts. Important! Sellers must have an active eBay Store subscription, and they must accept the Terms and Conditions before they can make requests to these APIs in the Production environment. There are also site-specific listings requirements and restrictions associated with these marketing tools, as listed in the &quot;requirements and restrictions&quot; sections for Promoted Listings and Promotions Manager. The table below lists all the Marketing API calls grouped by resource.",
    "version": "v1.4.0",
    "title": "Marketing API",
    "contact": {
      "name": "eBay Inc,"
    },
    "license": {
      "name": "eBay API License Agreement",
      "url": "https://go.developer.ebay.com/api-license-agreement"
    }
  },
  "host": "api.ebay.com",
  "basePath": "/sell/marketing/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ad_campaign/{campaign_id}/bulk_create_ads_by_inventory_reference": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method creates an ad for each inventory reference ID specified in the request and associates the newly created ads with the specified campaign. Use the campaign ID returned from createCampaign as a URI parameter in your call to this method. In the payload, specify the bidPercentage, inventoryReferenceId, and inventoryReferenceType for each listing you want to include in the campaign. Each listing you specify becomes a new ad that is associated with the campaign. An inventory reference ID can be either a seller-defined SKU value or an inventoryItemGroupKey. An inventoryItemGroupKey is seller-defined ID for an inventory item group (a multiple-variation listing), and is created and used by the Inventory API. For information on the eBay marketplaces that support Promoted Listings campaigns, see Promoted Listings requirements and restrictions. Maximums: You can specify a maximum of 500 IDs per call and 25,000 listings per campaign.",
        "operationId": "bulkCreateAdsByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the bulkCreateAdsByInventoryReference request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCreateAdsByInventoryReferenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BulkCreateAdsByInventoryReferenceResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request. Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/bulk_create_ads_by_listing_id": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method creates an ad for each listing ID specified in the request and associates the newly created ads with the specified campaign. Use the campaign ID returned from createCampaign as a URI parameter and specify a list of elements, each containing a listingId and its associated bidPercentage, for each listing you want associated with the ad campaign. Each listing you specify becomes a new ad that is associated with the campaign. A listing ID can be either a listing ID created by the Inventory API or an item ID that is used by the Trading API. For information on the eBay marketplaces that support Promoted Listings campaigns, see Promoted Listings requirements and restrictions. Maximums: You can specify a maximum of 500 IDs per call and 25,000 listings per campaign.",
        "operationId": "bulkCreateAdsByListingId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The container for the bulk request to create ads for eBay listing IDs. eBay listing IDs are generated when the listing is created on eBay. Note: This request accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCreateAdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BulkAdResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/bulk_delete_ads_by_inventory_reference": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method deletes a set of ads, as specified by a list of inventory reference IDs, from the specified campaign. Pass the campaign_id as a URI parameter and create a request payload that contains a list of inventoryReferenceId and inventoryReferenceType pairs. An inventory reference ID is either a seller-defined SKU value or an inventoryItemGroupKey (a seller-defined ID for an inventory item group, which is an entity that's used in the Inventory API to create a multiple-variation listing). Get the campaign IDs for a seller by calling getCampaigns and call getAds to get a list of the seller's inventory reference IDs.",
        "operationId": "bulkDeleteAdsByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for a bulkDeleteAdsByInventoryReference request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkDeleteAdsByInventoryReferenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/BulkDeleteAdsByInventoryReferenceResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/bulk_delete_ads_by_listing_id": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method deletes a set of ads, as specified by a list of listing IDs, from the specified campaign. Supply the campaign_id as a URI parameter and create a request payload that contains a list of listingId values. An eBay listing ID is generated when a listing is created on eBay. Get the campaign IDs for a seller by calling getCampaigns and call getAds to get a list of the seller's listing IDs. Note: This request accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
        "operationId": "bulkDeleteAdsByListingId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the bulkDeleteAdsByListingId request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkDeleteAdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/BulkDeleteAdResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/bulk_update_ads_bid_by_inventory_reference": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method replaces an ad bid based on a list of inventory references IDs associated with the specified campaign. In the request, specify the campaign_id as a URI parameter and a list of the bidPercentage, inventoryReferenceId, inventoryReferenceType fields. An inventory reference ID is either a seller-defined SKU value or an inventoryItemGroupKey (a seller-defined ID for an inventory item group, which is an entity that's used in the Inventory API to create a multiple-variation listing). You must always specify both an inventory_reference_id and the associated inventory_reference_type. Get the campaign IDs for a seller by calling getCampaigns and call getAds to get a list of the seller's inventory reference IDs.",
        "operationId": "bulkUpdateAdsBidByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the BulkCreateAdsByInventoryReference request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCreateAdsByInventoryReferenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BulkCreateAdsByInventoryReferenceResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/bulk_update_ads_bid_by_listing_id": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method replaces an ad bid based on a supplied list of listing IDs that are associated with the specified campaign. In the request, specify the campaign_id as a URI parameter and create a request payload that contains a list of listingId values. An eBay listing ID is generated when a listing is created on eBay. Get the campaign IDs for a seller by calling getCampaigns and call getAds to get a list of the seller's listing IDs. Note: This request accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
        "operationId": "bulkUpdateAdsBidByListingId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Container for the bulk request to update ads.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCreateAdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BulkAdResponse"
            }
          },
          "207": {
            "description": "An HTTP status code of 207 indicates multiple errors were returned."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/ad": {
      "get": {
        "tags": [
          "ad"
        ],
        "description": "This method retrieves all the ads for the specified campaign. Use the listing_ids query parameter to control the ads to target, and paginate the result set by specifying a limit, which dictates how many ads to return on each page of the response. Specify how many ads to skip in the result set before returning the first result using the offset parameter. Call getCampaigns to retrieve the current campaign IDs for the seller. Note: This field accepts both a listingId, as generated by the Inventory API, and an itemId as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
        "operationId": "getAds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of ads to return on a page in the paginated response. Default: 10 Maximum: 500",
            "required": false,
            "type": "string"
          },
          {
            "name": "listing_ids",
            "in": "query",
            "description": "A comma separated list of eBay listing IDs. The response includes only active ads (ads associated with a RUNNING campaign). The results do not include listing IDs that are excluded by other conditions. Note: This field accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the number of ads to skip in the result set before returning the first ad in the paginated response. Combine offset with the limit query parameter to control the ads returned in the response. For example, if you supply an offset of 0 and a limit of 10, the response contains the first 10 ads from the complete list of ads retrieved by the call. If offset is 10 and limit is 10, the first page of the response contains ads 11-20 from the complete result set. Default: 0",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/AdPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request. Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method creates an ad for the specified listing ID, sets the bid percentage for that specific item, and associates the ad with the specified campaign. Use the campaign ID returned from createCampaign as a URI parameter and specify a listingId and its associated bidPercentage in the payload. After processing the request, eBay returns the ID of the newly-created ad in the Location response header. Call getCampaigns to get a list of the seller's campaign IDs. Note: This request accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs). For information on the eBay marketplaces that support Promoted Listings campaigns, see Promoted Listings requirements and restrictions. Maximums: You can specify a maximum of 500 IDs per call and 25,000 listings per campaign.",
        "operationId": "createAdByListingId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the createAd request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAdRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The call was successful and the ad was created.",
            "schema": {
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location response header contains the URL to the newly created ad. The URL includes the eBay-assigned adId, which you can use to reference the ad."
              }
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/create_ads_by_inventory_reference": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method creates an ad for the specified inventory reference ID, sets the bid percentage for that specific item, and associates the ad with the specified campaign. Use the campaign ID returned from createCampaign as a URI parameter and in the payload specify an inventoryReferenceId, its inventoryReferenceType, and the bidPercentage for the specific item. After processing the request, eBay returns the ID of the newly-created ad in the Location response header. Note: If the inventory reference ID points to an item group listing (a multi-variation listing), eBay creates an ad for each variation. For example, if the specified inventory reference ID points to a shirt that comes in 3 sizes and 3 colors, 9 ads are created by this call. Keep this in mind so that you stay within the limit of 25,000 listings per campaign ID. Call getCampaigns to get a list of the seller's campaign IDs. For information on the eBay marketplaces that support Promoted Listings campaigns, see Promoted Listings requirements and restrictions. Maximums: You can specify a maximum of 500 IDs per call and 25,000 listings per campaign.",
        "operationId": "createAdsByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the createAdsByInventoryReference request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAdsByInventoryReferenceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The call was successful and the ad was created.",
            "schema": {
              "$ref": "#/definitions/AdReferences"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/ad/{ad_id}": {
      "get": {
        "tags": [
          "ad"
        ],
        "description": "This method retrieves the specified ad from the specified campaign. In the request, supply the campaign_id and ad_id as URI parameters. Call getCampaigns to retrieve a list of the seller's current campaign IDs and call getAds to retrieve their current ad IDs.",
        "operationId": "getAd",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Identifier of an ad. This ID was generated when the ad was created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ad"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ad"
        ],
        "description": "This method removes the specified ad from the specified campaign. This method requires that you pass in the ID of the ad to delete and the ID of the campaign to which the ad is associated. Call getCampaigns to get the current list of the seller's campaign IDs.",
        "operationId": "deleteAd",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Identifier of an ad. This ID was generated when the ad was created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/delete_ads_by_inventory_reference": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method deletes ads using a list of seller inventory reference IDs that are associated with the specified campaign ID. Specify the campaign ID and a list of inventoryReferenceId and inventoryReferenceType pairs to be deleted. Call getCampaigns to get a list of the seller's current campaign IDs.",
        "operationId": "deleteAdsByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the deleteAdsByInventoryReference request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAdsByInventoryReferenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/AdIds"
            }
          },
          "400": {
            "description": "Bad Request. Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/get_ads_by_inventory_reference": {
      "get": {
        "tags": [
          "ad"
        ],
        "description": "This method retrieves ads from the specified campaign using the seller's inventory reference ID and inventory reference type. Supply the campaign_id as a URI parameter and configure the payload with inventory_reference_id inventory_reference_type pairs. An inventory reference ID is either a seller-defined SKU value or an inventoryItemGroupKey (a seller-defined ID for an inventory item group, which is an entity that's used in the Inventory API to create a multiple-variation listing). You must always specify both an inventory_reference_id and the associated inventory_reference_type. Call getCampaigns to retrieve all of the seller's the current campaign IDs.",
        "operationId": "getAdsByInventoryReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inventory_reference_id",
            "in": "query",
            "description": "The inventory reference ID associated with the ad you want returned. A seller's inventory reference ID is the ID of either a listing or the ID of an inventory item group (the parent of a multi-variation listing, such as a shirt that is available in multiple sizes and colors). You must always supply in both an inventory_reference_id and an inventory_reference_type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inventory_reference_type",
            "in": "query",
            "description": "The type of the inventory reference ID. Set this value to either INVENTORY_ITEM (a single listing) or INVENTORY_ITEM_GROUP (a multi-variation listing). You must always pass in both an inventory_reference_id and an inventory_reference_type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ads"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/ad/{ad_id}/update_bid": {
      "post": {
        "tags": [
          "ad"
        ],
        "description": "This method updates the bid for the specified ad in the specified campaign. In the request, supply the campaign_id and ad_id as a URI parameters. Call getCampaigns to retrive a seller's current campaign IDs and call getAds to get their ad IDs.",
        "operationId": "updateBid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad that's generated when an ad is created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the updateBid request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBidPercentageRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request. Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/clone": {
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method clones (makes a copy of) the specified campaign. Supply the campaign_id as a URI parameter. The ID of the newly-cloned campaign is returned in the Location response header. Call getCampaigns to retrieve a seller's current campaign IDs Requirement: In order to clone a campaign, the campaignStatus must be ENDED and the campaign must define a set of selection rules (it must be a rules-based campaign).",
        "operationId": "cloneCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for a clone campaign request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloneCampaignRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location response header contains the URL to the cloned campaign. The URL includes the eBay-assigned campaignId, which you can use to reference the newly created campaign."
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign": {
      "get": {
        "tags": [
          "campaign"
        ],
        "description": "This method retrieves the details for all the campaigns of a seller, including the campaign's the selection rules. Note that this method does not return the listing IDs or inventory reference IDs of the items included in the ad campaign. Call getAds to retrieve these IDs. You can filter the result set by a campaign name, end date range, start date range, or campaign status. You can also paginate the records returned from the result set using the limit query parameter, and control which records to return using the offset parameter. Note: This call does not retrieve campaigns created via the eBay web flow.",
        "operationId": "getCampaigns",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_name",
            "in": "query",
            "description": "Specifies the campaign name. The results are filtered to include only the campaign by the specified name. Note: The results might be null if other filters exclude the campaign with this name. Maximum: 1 campaign name",
            "required": false,
            "type": "string"
          },
          {
            "name": "campaign_status",
            "in": "query",
            "description": "Specifies the campaign status. The results are filtered to include only campaigns that are in the specified states. Note: The results might not include all the campaigns with this status if other filters exclude them. Valid values: See CampaignStatusEnum Maximum: 1 status",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date_range",
            "in": "query",
            "description": "Specifies the range of a campaign's end date. The results are filtered to include only campaigns with an end date that is within specified range. Valid format (UTC): &nbsp;&nbsp;&nbsp;&nbsp;yyyy-MM-ddThh:mm.ss.sssZ..yyyy-MM-ddThh:mm.ss.sssZ&nbsp;&nbsp; (campaign ends within this range) &nbsp;&nbsp;&nbsp;&nbsp;yyyy-MM-ddThh:mm.ss.sssZ..&nbsp;&nbsp;(campaign ends on or after this date) &nbsp;&nbsp;&nbsp;&nbsp;..yyyy-MM-ddThh:mm.ss.sssZ&nbsp;&nbsp; (campaign ends on or before this date) &nbsp;&nbsp;&nbsp;&nbsp;2016-09-08T00:00.00.000Z..2016-09-09Thh:00.00.000Z&nbsp;&nbsp; (campaign ends on September 8, 2016) Note: The results might not include all the campaigns ending on this date if other filters exclude them.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of campaigns to return on a page in the paginated response. Default: 10 Maximum: 500",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the number of campaigns to skip in the result set before returning the first report in the paginated response. Combine offset with the limit query parameter to control the campaigns returned in the response. For example, if you supply an offset of 0 and a limit of 10, the response contains the first 10 campaigns from the complete list of campaigns retrieved by the call. If offset is 10 and limit is 10, the first page of the response contains campaigns 11-20 from the complete result set. Default: 0",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date_range",
            "in": "query",
            "description": "Specifies the range of a campaign's start date in which to filter the results. The results are filtered to include only campaigns with a start date that is equal to this date or is within specified range. Valid format (UTC): &nbsp;&nbsp;&nbsp;&nbsp;yyyy-MM-ddThh:mm.ss.sssZ..yyyy-MM-ddThh:mm.ss.sssZ&nbsp;&nbsp; (starts within this range) &nbsp;&nbsp;&nbsp;&nbsp;yyyy-MM-ddThh:mm.ss.sssZ..&nbsp;&nbsp;(campaign starts on or after this date) &nbsp;&nbsp;&nbsp;&nbsp;..yyyy-MM-ddThh:mm.ss.sssZ&nbsp;&nbsp; (campaign starts on or before this date) &nbsp;&nbsp;&nbsp;&nbsp;2016-09-08T00:00.00.000Z..2016-09-09Thh:00.00.000Z&nbsp;&nbsp; (campaign starts on September 8, 2016) Note: The results might not include all the campaigns with this start date if other filters exclude them.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/CampaignPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method creates a Promoted Listings ad campaign. To create a basic campaign, supply the user-defined campaign name, the start date (and optionally the end date) of the campaign, the eBay marketplace on which the campaign is hosted, and details on the campaign funding model. The campaign funding model specifies how the Promoted Listings fee is calculated. Currently, the only supported funding model is COST_PER_SALE. For complete information on how the fee is calculated and when it applies, see Promoted Listings fees. For details on creating Promoted Listings campaigns and how to select the items to be included in your campaigns, see Creating Promoted Listings campaigns.",
        "operationId": "createCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields for the create campaign request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCampaignRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The campaign was created.",
            "schema": {
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location response header contains the URL to the newly created ad campaign. The URL includes the eBay-assigned campaignId, which you can use to reference the campaign."
              }
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}": {
      "get": {
        "tags": [
          "campaign"
        ],
        "description": "This method retrieves the details of a single campaign, as specified with the campaign_id query parameter. This method returns all the details of a campaign (including the campaign's the selection rules), except the for the listing IDs or inventory reference IDs included in the campaign. These IDs are returned by getAds. Call getCampaigns to retrieve a list of the seller's campaign IDs. Note: This call does not retrieve campaigns created via the eBay web flow.",
        "operationId": "getCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "campaign"
        ],
        "description": "This method deletes the campaign specified by the campaign_id query parameter. Note: You can delete only campaigns that have ended. Call getCampaigns to retrieve the campaign_id and the campaign status (RUNNING, PAUSED, ENDED, and so on) for all the seller's campaigns.",
        "operationId": "deleteCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "An HTTP status code of 204 indicates the call was successful and there is no data to return."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/end": {
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method ends an active (RUNNINGM) or paused campaign. Specify the campaign you want to end by supplying its campaign ID in a query parameter. Call getCampaigns to retrieve the campaign_id and the campaign status (RUNNING, PAUSED, ENDED, and so on) for all the seller's campaigns.",
        "operationId": "endCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request. Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/find_campaign_by_ad_reference": {
      "get": {
        "tags": [
          "campaign"
        ],
        "description": "This method retrieves the campaign containing the listing that is specified using either an eBay listing ID or an inventory reference ID and inventory reference type. eBay listing IDs are generated when you create a listing. An inventory reference ID can be either a seller-defined SKU value or an inventoryItemGroupKey (a seller-defined ID for an inventory item group, which is an entity that's used by the Inventory API to create a multiple-variation listing such as a shirt that is available in multiple sizes and colors. Note: This request accepts both listing IDs, as generated by the Inventory API, and an item IDs, as used in the eBay Traditional API set (e.g., the Trading and Finding APIs).",
        "operationId": "findCampaignByAdReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inventory_reference_id",
            "in": "query",
            "description": "The seller's inventory reference ID of the listing to be used to find the campaign in which it is associated. You must always pass in both inventory_reference_id and inventory_reference_type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "inventory_reference_type",
            "in": "query",
            "description": "The type of the seller's inventory reference ID, which is a listing or group of items. You must always pass in both inventory_reference_id and inventory_reference_type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "listing_id",
            "in": "query",
            "description": "Identifier of the eBay listing associated with the ad.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/Campaigns"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/get_campaign_by_name": {
      "get": {
        "tags": [
          "campaign"
        ],
        "description": "This method retrieves the details of a single campaign, as specified with the campaign_name query parameter. Note that the campaign name you specify must be an exact, case-sensitive match of the name of the campaign you want to retrieve. This method returns all the details of a campaign (including the campaign's the selection rules), except the for the listing IDs or inventory reference IDs included in the campaign. These IDs are returned by getAds. Call getCampaigns to retrieve a list of the seller's campaign names. Note: This call does not retrieve campaigns created via the eBay web flow.",
        "operationId": "getCampaignByName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_name",
            "in": "query",
            "description": "Name of the campaign.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An HTTP status code of 200 indicates the call completed successfully.",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign specified was not found. <b>Note: </b> The search for the campaign name is case sensitive."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/pause": {
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method pauses an active (RUNNING) campaign. You can restarted by calling resumeCampaign, as long as the campaign's end date is in the future. Note: The listings associated with a paused campaign cannot be added into another campaign. Call getCampaigns to retrieve the campaign_id and the campaign status (RUNNING, PAUSED, ENDED, and so on) for all the seller's campaigns.",
        "operationId": "pauseCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "An HTTP status code of 204 indicates the call was successful and there is no data to return."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/resume": {
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method resumes a paused campaign, as long as it's end date is in the future. Supply the campaign_id for the campaign you want to restart as a query parameter in the request. Call getCampaigns to retrieve the campaign_id and the campaign status (RUNNING, PAUSED, ENDED, and so on) for all the seller's campaigns.",
        "operationId": "resumeCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "An HTTP status code of 204 indicates the call was successful and there is no data to return."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_campaign/{campaign_id}/update_campaign_identification": {
      "post": {
        "tags": [
          "campaign"
        ],
        "description": "This method replaces the name and the start and end dates of a campaign. Specify the campaign_id you want to update as a URI parameter, and configure the campaignName and startDate in the request payload. If you want to change only the end date of the campaign, specify the current campaign name and set startDate to the current date (you cannot use a start date that is in the past), and set the endDate as desired. Note that if you do not set a new end date in this call, any current endDate value will be set to null. To preserve the currently-set end date, you must specify the value again in your request. Call getCampaigns to retrieve a seller's campaign details, including the campaign ID, campaign name, and the start and end dates of the campaign.",
        "operationId": "updateCampaignIdentification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for an ad campaign that's generated when a campaign is created. Get a seller's campaign IDs by calling getCampaigns.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields to updated the campaign name and start and end dates.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCampaignIdentificationRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "An HTTP status code of 204 indicates the call was successful and there is no data to return."
          },
          "400": {
            "description": "Bad Request.  Refer to the documentation for information about the request."
          },
          "404": {
            "description": "The campaign ID submitted does not exist."
          },
          "409": {
            "description": "Business error"
          },
          "500": {
            "description": "An HTTP status code of 500 indicates there was a problem with an eBay internal service. Wait a few minutes and try the call again."
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_report/{report_id}": {
      "get": {
        "tags": [
          "ad_report"
        ],
        "description": "This call downloads the report as specified by the report_id path parameter. Note: All date values are returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert and display in the seller's local time.",
        "operationId": "getReport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/tab-separated-values",
          "application/json"
        ],
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "The unique ID of the Promoted Listings report you want to get. This ID is generated by eBay when you run a report task with a call to createReportTask. Get all the seller's report IDs by calling getReportTasks.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_report_metadata": {
      "get": {
        "tags": [
          "ad_report_metadata"
        ],
        "description": "This call retrieves information that details the fields used in each of the Promoted Listings reports. The request for this method does not use a payload or any URI parameters. Use the information returned by this method to configure the different Promoted Listings report types.",
        "operationId": "getReportMetadata",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportMetadatas"
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Client Credentials": [
              "https://api.ebay.com/oauth/api_scope"
            ]
          }
        ]
      }
    },
    "/ad_report_metadata/{report_type}": {
      "get": {
        "tags": [
          "ad_report_metadata"
        ],
        "description": "This call retrieves metadata that details the fields used by the Promoted Listings report type that's specified by the report_type path parameter. This method does not use a request payload. Use the information returned by this method to configure the specified Promoted Listings report.",
        "operationId": "getReportMetadataForReportType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "report_type",
            "in": "path",
            "description": "The name of the report type whose metadata you want to get. For details about each report type, see ReportTypeEnum. Valid values: &nbsp;&nbsp;&nbsp;ACCOUNT_PERFORMANCE_REPORT &nbsp;&nbsp;&nbsp;CAMPAIGN_PERFORMANCE_REPORT &nbsp;&nbsp;&nbsp;CAMPAIGN_PERFORMANCE_SUMMARY_REPORT &nbsp;&nbsp;&nbsp;LISTING_PERFORMANCE_REPORT &nbsp;&nbsp;&nbsp;INVENTORY_PERFORMANCE_REPORT",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportMetadata"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Client Credentials": [
              "https://api.ebay.com/oauth/api_scope"
            ]
          }
        ]
      }
    },
    "/ad_report_task": {
      "get": {
        "tags": [
          "ad_report_task"
        ],
        "description": "This method returns information on all the existing report tasks related to a seller. Use the report_task_statuses query parameter to control which reports to return. You can paginate the result set by specifying a limit, which dictates how many report tasks to return on each page of the response. Use the offset parameter to specify how many reports to skip in the result set before returning the first result.",
        "operationId": "getReportTasks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of report tasks to return on a page in the paginated response. Default: 10 Maximum: 500",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the number of report tasks to skip in the result set before returning the first report in the paginated response. Combine offset with the limit query parameter to control the reports returned in the response. For example, if you supply an offset of 0 and a limit of 10, the response contains the first 10 reports from the complete list of report tasks retrieved by the call. If offset is 10 and limit is 10, the first page of the response contains reports 11-20 from the complete result set. Default: 0",
            "required": false,
            "type": "string"
          },
          {
            "name": "report_task_statuses",
            "in": "query",
            "description": "This parameter filters the returned report tasks by their status. Supply a comma-separated list of the report statuses you want returned. The results are filtered to include only the report statuses you specify. Note: The results might not include some report tasks if other search conditions exclude them. Valid values: &nbsp;&nbsp;&nbsp;PENDING &nbsp;&nbsp;&nbsp;SUCCESS &nbsp;&nbsp;&nbsp;FAILED",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportTaskPagedCollection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ad_report_task"
        ],
        "description": "This method creates a report task, which generates a Promoted Listings report based on the values specified in the call. The report is generated based on the criteria you specify, including the report type, the report's dimensions and metrics, the report's start and end dates, the listings to include in the report, and more. Metrics are the quantitative measurements in the report while dimensions specify the attributes of the data included in the reports. For details on the required and optional fields for each report type, see Creating Promoted Listings reports. This call returns the URL to the report task in the Location response header, and the URL includes the report-task ID. Reports often take time to generate and it's common for this call to return an HTTP status of 202, which indicates the report is being generated. Call getReportTasks (or getReportTask with the report-task ID) to determine the status of a Promoted Listings report. When a report is complete, eBay sets its status to SUCCESS and you can download it using the URL returned in the reportHref field of the getReportTask call. Report files are tab-separated value gzip files with a file extension of .tsv.gz. Note: This call fails if you don't submit all the required fields for the specified report type. Fields not supported by the specified report type are ignored. Call getReportMetadata to retrieve a list of the fields you need to configure for each Promoted Listings report type.",
        "operationId": "createReportTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The container for the fields that define the report task.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReportTask"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/ad_report_task/{report_task_id}": {
      "get": {
        "tags": [
          "ad_report_task"
        ],
        "description": "This call returns the details of a specific Promoted Listings report task, as specified by the report_task_id path parameter. The report task includes the report criteria (such as the report dimensions, metrics, and included listing) and the report-generation rules (such as starting and ending dates for the specified report task). Report-task IDs are generated by eBay when you call createReportTask. Get a complete list of a seller's report-task IDs by calling getReportTasks.",
        "operationId": "getReportTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "report_task_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for the report task that's generated when the report task is created by a call to createReportTask.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportTask"
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ad_report_task"
        ],
        "description": "This call deletes the report task specified by the report_task_id path parameter. This method also deletes any reports generated by the report task. Report task IDs are generated by eBay when you call createReportTask. Get a complete list of a seller's report-task IDs by calling getReportTasks.",
        "operationId": "deleteReportTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "report_task_id",
            "in": "path",
            "description": "A unique eBay-assigned ID for the report task that's generated when the report task is created by a call to createReportTask.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/item_price_markdown": {
      "post": {
        "tags": [
          "item_price_markdown"
        ],
        "description": "This method creates an item price markdown promotion (know simply as a &quot;markdown promotion&quot;) where a discount amount is applied directly to the items included the promotion. Discounts can be specified as either a monetary amount or a percentage off the standard sales price. eBay highlights promoted items by placing teasers for the items throughout the online sales flows. Unlike an item promotion, a markdown promotion does not require the buyer meet a &quot;threshold&quot; before the offer takes effect. With markdown promotions, all the buyer needs to do is purchase the item to receive the promotion benefit. There are two ways to add items to markdown promotions: Key-based promotions select items using either the listing IDs or inventory reference IDs of the items you want to promote. Note that if you use inventory reference IDs, you must specify both the inventoryReferenceId and the associated inventoryReferenceType of the item(s) you want to include the promotion. Rule-based promotions select items using a list of eBay category IDs or seller Store category IDs. Rules can further constrain items in a promotion by minimum and maximum prices, brands, and item conditions. New promotions must be created in either a DRAFT or a SCHEDULED state. Use the DRAFT state when you are initially creating a promotion and you want to be sure it's correctly configured before scheduling it to run. When you create a promotion, the promotion ID is returned in the Location response header. Use this ID to reference the promotion in subsequent requests (such as to schedule a promotion that's in a DRAFT state). Tip: Refer to Promotions Manager in the Selling Integration Guide for details and examples showing how to create and manage seller promotions. Markdown promotions are available on all eBay marketplaces. For more information, see Promotions Manager requirements and restrictions.",
        "operationId": "createItemPriceMarkdownPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields that describe an item price markdown promotion.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemPriceMarkdown"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location response header contains the URL to the newly created item price markdown promotion. The URL includes the eBay-assigned promotionId, which you can use to reference the promotion."
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Business Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/item_price_markdown/{promotion_id}": {
      "get": {
        "tags": [
          "item_price_markdown"
        ],
        "description": "This method returns the complete details of the item price markdown promotion that's indicated by the promotion_id path parameter. Call getPromotions to retrieve the IDs of a seller's promotions.",
        "operationId": "getItemPriceMarkdownPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "description": "The ID of the promotion you want to retrieve. The promotion ID is a unique eBay-assigned value that's generated when the promotion is created.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ItemPriceMarkdown"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "item_price_markdown"
        ],
        "description": "This method updates the specified item price markdown promotion with the new configuration that you supply in the payload of the request. Specify the promotion you want to update using the promotion_id path parameter. Call getPromotions to retrieve the IDs of a seller's promotions. When updating a promotion, supply all the fields that you used to configure the original promotion (and not just the fields you are updating). eBay replaces the specified promotion with the values you supply in the update request and if you don't pass a field that currently has a value, the update request fails. The parameters you are allowed to update with this request depend on the status of the promotion you're updating: DRAFT or SCHEDULED promotions: You can update any of the parameters in these promotions that have not yet started to run, including the discountRules. RUNNING promotions: You can change the endDate and the item's inventory but you cannot change the promotional discount or the promotion's start date. ENDED promotions: Nothing can be changed.",
        "operationId": "updateItemPriceMarkdownPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "description": "The ID of the promotion you want to update. The promotion ID is a unique eBay-assigned value that's generated when the promotion is created.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields that describe an item price markdown promotion.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemPriceMarkdown"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Business Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "item_price_markdown"
        ],
        "description": "This method deletes the item price markdown promotion specified by the promotion_id path parameter. Call getPromotions to retrieve the IDs of a seller's promotions. You can delete any promotion with the exception of those that are currently active (RUNNING). To end a running promotion, call updateItemPriceMarkdownPromotion and adjust the endDate field as appropriate.",
        "operationId": "deleteItemPriceMarkdownPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "description": "The ID of the promotion you want to delete. The promotion ID is a unique eBay-assigned value that's generated when the promotion is created.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/item_promotion": {
      "post": {
        "tags": [
          "item_promotion"
        ],
        "description": "This method creates an item promotion (known casually as a &quot;threshold promotion&quot;) where the buyer receives a discount benefit when they meet the buying criteria that is set for the promotion. Discounts can be specified as either a monetary amount or a percentage off the standard sales price, giving you the ability offer discounts such as &quot;Buy 1 Get 1&quot;, or &quot;Buy $50, get 20% off&quot;. eBay highlights promoted items by placing teasers for the items throughout the online sales flows. There are two ways add items to a threshold promotion: Key-based promotions select items using either the listing IDs or inventory reference IDs of the items you want to promote. Note that if you use inventory reference IDs, you must specify both the inventoryReferenceId and the associated inventoryReferenceType of the item(s) you want to include the promotion. Rule-based promotions select items using a list of eBay category IDs or seller Store category IDs. Rules can further constrain items in a promotion by minimum and maximum prices, brands, and item conditions. You must create a new promotion either a DRAFT or SCHEDULED state. Use the DRAFT state when you are initially creating a promotion and you want to be sure it's correctly configured before scheduling it to run. When you create a promotion, the promotion ID is returned in the Location response header. Use this ID to reference the promotion in subsequent requests. Tip: Refer to the Selling Integration Guide for details and examples showing how to create and manage threshold promotions using the Promotions Manager. For information on the eBay marketplaces that support item promotions, see Promotions Manager requirements and restrictions.",
        "operationId": "createItemPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields that describe an item promotion.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemPromotion"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location response header contains the URL to the newly created item promotion. The URL includes the eBay-assigned promotionId, which you can use to reference the promotion."
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Business Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      }
    },
    "/item_promotion/{promotion_id}": {
      "get": {
        "tags": [
          "item_promotion"
        ],
        "description": "This method returns the complete details of the threshold promotion specified by the promotion_id path parameter. Call getPromotions to retrieve the IDs of a seller's promotions.",
        "operationId": "getItemPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "description": "The ID of the promotion you want to retrieve. The promotion ID is a unique eBay-assigned value that's generated when the promotion is created.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ItemPromotionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing.readonly",
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "item_promotion"
        ],
        "description": "This method updates the specified threshold promotion with the new configuration that you supply in the request. Indicate the promotion you want to update using the promotion_id path parameter. Call getPromotions to retrieve the IDs of a seller's promotions. When updating a promotion, supply all the fields that you used to configure the original promotion (and not just the fields you are updating). eBay replaces the specified promotion with the values you supply in the update request and if you don't pass a field that currently has a value, the update request will fail. The parameters you are allowed to update with this request depend on the status of the promotion you're updating: DRAFT or SCHEDULED promotions: You can update any of the parameters in these promotions that have not yet started to run, including the discountRules. RUNNING or PAUSED promotions: You can change the endDate and the item's inventory but you cannot change the promotional discount or the promotion's start date. ENDED promotions: Nothing can be changed.",
        "operationId": "updateItemPromotion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "description": "The ID of the promotion you want to update. The promotion ID is a unique eBay-assigned value that's generated when the promotion is created.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "This type defines the fields that describe an item promotion.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ItemPromotion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Business Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.marketing"
            ]
          }
        ]
      },
[...]
