{
  "swagger": "2.0",
  "info": {
    "description": "The Logistics API resources offer the following capabilities: shipping_quote &ndash; Consolidates into a list a set of live shipping rates, or quotes, from which you can select a rate to ship a package. shipment &ndash; Creates a &quot;shipment&quot; for the selected shipping rate. Call createShippingQuote to get a list of live shipping rates. The rates returned are all valid for a specific time window and all quoted prices are at eBay-negotiated rates. Select one of the live rates and using its associated rateId, create a &quot;shipment&quot; for the package by calling createFromShippingQuote. Creating a shipment completes an agreement, and the base service and addition shipping options are totaled into the totalShippingCost. This action also generates a shipping label that you can use to ship the package. Important! Sellers must set up a payment method via their eBay account before they can use the methods in this API to create a shipment and the associated shipping label.",
    "version": "v1_beta.0.0",
    "title": "Logistics API",
    "contact": {
      "name": "eBay Inc,"
    },
    "license": {
      "name": "eBay API License Agreement",
      "url": "https://go.developer.ebay.com/api-license-agreement"
    }
  },
  "host": "api.ebay.com",
  "basePath": "/sell/logistics/v1_beta",
  "schemes": [
    "https"
  ],
  "paths": {
    "/shipment/create_from_shipping_quote": {
      "post": {
        "tags": [
          "shipment"
        ],
        "description": "This method creates a &quot;shipment&quot; based on the shippingQuoteId and rateId values supplied in the request. The rate identified by the rateId value specifies the carrier and service for the package shipment, and the rate ID must be contained in the shipping quote identified by the shippingQuoteId value. Call createShippingQuote to retrieve a set of live shipping rates. When you create a shipment, eBay generates a shipping label that you can download and use to ship your package. In a createFromShippingQuote request, sellers can include a list of shipping options they want to add to the base service quoted in the selected rate. The list of available shipping options is specific to each quoted rate and if available, the options are listed in the rate container of the of the shipping quote. In addition to a configurable return-to location and other details about the shipment, the response to this method includes: The shipping carrier and service to be used for the package shipment A list of selected shipping options, if any The shipment tracking number The total shipping cost (the sum cost of the base shipping service and any added options) When you create a shipment, your billing agreement account is charged the sum of the baseShippingCost and the total cost of any additional shipping options you might have selected. Use the URL returned in labelDownloadUrl field, or call downloadLabelFile with the shipmentId value from the response, to download a shipping label for your package. Important! Sellers must set up their payment method with eBay before they can use this method to create a shipment and the associated shipping label.",
        "operationId": "createFromShippingQuote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The create shipment from quote request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateShipmentFromQuoteRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    },
    "/shipment/{shipmentId}": {
      "get": {
        "tags": [
          "shipment"
        ],
        "description": "This method retrieves the shipment details for the specified shipment ID. Call createFromShippingQuote to generate a shipment ID.",
        "operationId": "getShipment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "This path parameter specifies the unique eBay-assigned ID of the shipment you want to retrieve. The shipmentId value is generated and returned by a call to createFromShippingQuote.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    },
    "/shipment/{shipmentId}/download_label_file": {
      "get": {
        "tags": [
          "shipment"
        ],
        "description": "This method returns the shipping label file that was generated for the shipmentId value specified in the request. Call createFromShippingQuote to generate a shipment ID. Use the Accept HTTP header to specify the format of the returned file. The default file format is a PDF file.",
        "operationId": "downloadLabelFile",
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "This path parameter specifies the unique eBay-assigned ID of the shipment associated with the shipping label you want to download. The shipmentId value is generated and returned by a call to createFromShippingQuote.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    },
    "/shipment/{shipmentId}/cancel": {
      "post": {
        "tags": [
          "shipment"
        ],
        "description": "This method cancels the shipment associated with the specified shipment ID and the associated shipping label is deleted. When you cancel a shipment, the totalShippingCost of the canceled shipment is refunded to the account established by the user's billing agreement. Note that you cannot cancel a shipment if you have used the associated shipping label.",
        "operationId": "cancelShipment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "This path parameter specifies the unique eBay-assigned ID of the shipment to be canceled. The shipmentId value is generated and returned by a call to createFromShippingQuote.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    },
    "/shipping_quote": {
      "post": {
        "tags": [
          "shipping_quote"
        ],
        "description": "The createShippingQuote method returns a shipping quote that contains a list of live &quot;rates.&quot; Each rate represents an offer made by a shipping carrier for a specific service and each offer has a live quote for the base service cost. Rates have a time window in which they are &quot;live,&quot; and rates expire when their purchase window ends. If offered by the carrier, rates can include shipping options (and their associated prices), and users can add any offered shipping option to the base service should they desire. Also, depending on the services required, rates can also include pickup and delivery windows. Each rate is for a single package and is based on the following information: The shipping origin The shipping destination The package size (weight and dimensions) Rates are identified by a unique eBay-assigned rateId and rates are based on price points, pickup and delivery time frames, and other user requirements. Because each rate offered must be compliant with the eBay shipping program, all rates reflect eBay-negotiated prices. The various rates returned in a shipping quote offer the user a choice from which they can choose a shipping service that best fits their needs. Select the rate for your shipment and using the associated rateId, call cerateFromShippingQuote to create a shipment and generate a shipping label that you can use to ship the package.",
        "operationId": "createShippingQuote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The request object for createShippingQuote.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingQuoteRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ShippingQuote"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    },
    "/shipping_quote/{shippingQuoteId}": {
      "get": {
        "tags": [
          "shipping_quote"
        ],
        "description": "This method retrieves the complete details of the shipping quote associated with the specified shippingQuoteId value. A &quot;shipping quote&quot; pertains to a single specific package and contains a set of shipping &quot;rates&quot; that quote the cost to ship the package by different shipping carriers and services. The quotes are based on the package's origin, destination, and size. Call createShippingQuote to create a shippingQuoteId.",
        "operationId": "getShippingQuote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shippingQuoteId",
            "in": "path",
            "description": "This path parameter specifies the unique eBay-assigned ID of the shipping quote you want to retrieve. The shippingQuoteId value is generated and returned by a call to createShippingQuote.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShippingQuote"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization Code": [
              "https://api.ebay.com/oauth/api_scope/sell.logistics"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization Code": {
      "description": "The security definitions for this API. Please check individual operations for applicable scopes.",
      "type": "oauth2",
      "authorizationUrl": "https://auth.ebay.com/oauth2/authorize",
      "tokenUrl": "https://api.ebay.com/identity/v1/oauth2/token",
      "flow": "accessCode",
      "scopes": {
        "https://api.ebay.com/oauth/api_scope/sell.logistics": " This scope would allow signed in user to access Logistics information."
      }
    }
  },
  "definitions": {
    "AdditionalOption": {
      "type": "object",
      "properties": {
        "additionalCost": {
          "$ref": "#/definitions/Amount"
        },
        "optionType": {
          "type": "string",
          "description": "The name of a shipping option that can be purchased in addition to the base shipping cost of this rate. The value supplied in this field must match exactly the option name as supplied by the selected rate."
        }
      },
      "description": "This complex type contains information about a shipping option that can be purchased in addition to the base shipping cost of a recommended rate. Additional options for each rate are defined, named, and offered by the selected shipping carrier. Examples include shipping insurance or the requirement for a recipient signature."
    },
    "Amount": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The base currency applied to the value field to establish a monetary amount. The currency is represented as a 3-letter ISO4217 currency code. For example, the code for the Canadian Dollar is CAD. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/CurrencyCodeEnum.html'>eBay API documentation</a>"
        },
        "value": {
          "type": "string",
          "description": "The value of the monetary amount in the specified currency."
        }
      },
      "description": "A complex type that describes the value of a monetary amount as represented by a global currency."
    },
    "Contact": {
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "The company name with which the contact is associated."
        },
        "contactAddress": {
          "$ref": "#/definitions/ContactAddress"
        },
        "fullName": {
          "type": "string",
          "description": "The contact's full name."
        },
        "primaryPhone": {
          "$ref": "#/definitions/PhoneNumber"
        }
      },
      "description": "This complex type contains contact information for an individual buyer or seller."
    },
    "ContactAddress": {
      "type": "object",
      "properties": {
        "addressLine1": {
          "type": "string",
          "description": "The first line of the street address."
        },
        "addressLine2": {
          "type": "string",
          "description": "The second line of the street address. Use this field for additional address information, such as a suite or apartment number."
        },
        "city": {
          "type": "string",
          "description": "The city in which the address is located."
        },
        "countryCode": {
          "type": "string",
          "description": "The country of the address, represented as two-letter ISO 3166-1 Alpha-2 country code. For example, US represents the United States and DE represents Germany. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/CountryCodeEnum.html'>eBay API documentation</a>"
        },
        "county": {
          "type": "string",
          "description": "The county (not country) in which the address is located. Counties typically contain multiple cities or towns."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "The state or province in which the address is located. States and provinces often contain multiple counties."
        }
      },
      "description": "This complex type specifies the details of a geographical address."
    },
    "CreateShipmentFromQuoteRequest": {
      "type": "object",
      "properties": {
        "additionalOptions": {
          "type": "array",
          "description": "Supply a list of one or more shipping options that the seller has purchased for this shipment. The total cost of the added options is added to the base shipping cost to determine the final cost for the shipment. All added options must be selected from the set of options offered by the selected rate (such as shipping insurance or the requirement for a recipient signature). The base rate of the shipment is the value of the baseShippingCost field that's associated with the rateId of the selected shipping rate.",
          "items": {
            "$ref": "#/definitions/AdditionalOption"
          }
        },
        "labelCustomMessage": {
          "type": "string",
          "description": "Optional text to be printed on the shipping label if the selected shipping carrier supports custom messages on their labels."
        },
        "labelSize": {
          "type": "string",
          "description": "The seller's desired label size. Any supplied value is applied only if the shipping carrier supports multiple label sizes, otherwise the carrier's default label size is used. 4&quot;x6&quot;"
        },
        "rateId": {
          "type": "string",
          "description": "The eBay-assigned ID of the shipping rate that the seller selected for the shipment. This value is generated by a call to createShippingQuote and is returned in the rates.rateId field."
        },
        "returnTo": {
          "$ref": "#/definitions/Contact"
        },
        "shippingQuoteId": {
          "type": "string",
          "description": "The unique eBay-assigned ID of the shipping quote that was generated by a call to createShippingQuote."
        }
      },
      "description": "This complex type contains the request payload for the <b>createFromShippingQuote</b> method."
    },
    "Dimensions": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "description": "The numeric value of the height of the package."
        },
        "length": {
          "type": "string",
          "description": "The numeric value of the length of the package."
        },
        "unit": {
          "type": "string",
          "description": "The unit of measure used to express the height, length, and width of the package. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/LengthUnitOfMeasureEnum.html'>eBay API documentation</a>"
        },
        "width": {
          "type": "string",
          "description": "The numeric value of the width of the package."
        }
      },
      "description": "This complex type defines the dimensions of a package to be shipped."
    },
    "Order": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "string",
          "description": "The e-commerce platform or environment where the order was created. Use the value EBAY to get the rates available for eBay orders."
        },
        "orderId": {
          "type": "string",
          "description": "The unique ID of the order supplied by the channel of origin. For eBay orders, this would be the orderId."
        }
      },
      "description": "This complex type defines an order from which a seller is including one or more line items in a single package to be shipped."
    },
    "PackageSpecification": {
      "type": "object",
      "properties": {
        "dimensions": {
          "$ref": "#/definitions/Dimensions"
        },
        "weight": {
          "$ref": "#/definitions/Weight"
        }
      },
      "description": "This complex type specifies the dimensions and weight of a package."
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "A telephone number."
        }
      },
      "description": "This complex type contains a string field representing a telephone number."
    },
    "PickupSlot": {
      "type": "object",
      "properties": {
        "pickupSlotEndTime": {
          "type": "string",
          "description": "The date and time the pickup slot ends, formatted as an ISO 8601 UTC string."
        },
        "pickupSlotId": {
          "type": "string",
          "description": "Seller-defined name for the pickup slot."
        },
        "pickupSlotStartTime": {
          "type": "string",
          "description": "The date and time the pickup slot begins, formatted as an ISO 8601 UTC string."
        },
        "pickupSlotTimeZone": {
          "type": "string",
          "description": "The time zone of the pickup location, returned as Time Zone Database ID (also know as an Olson time zone ID)."
        }
      },
      "description": "This complex type defines a time window for the pickup of a package."
    },
    "PurchasedRate": {
      "type": "object",
      "properties": {
        "additionalOptions": {
          "type": "array",
          "description": "An list of additional, optional features that have been purchased for the shipment.",
          "items": {
            "$ref": "#/definitions/AdditionalOption"
          }
        },
        "baseShippingCost": {
          "$ref": "#/definitions/Amount"
        },
        "destinationTimeZone": {
          "type": "string",
          "description": "The time zone of the destination according to Time Zone Database. For example, &quot;America/Los_Angeles&quot;."
        },
        "maxEstimatedDeliveryDate": {
          "type": "string",
          "description": "A string value representing maximum (latest) estimated delivery time, formatted as an ISO 8601 UTC string."
        },
        "minEstimatedDeliveryDate": {
          "type": "string",
          "description": "A string value representing minimum (earliest) estimated delivery time, formatted as an ISO 8601 UTC string."
        },
        "pickupNetworks": {
          "type": "array",
          "description": "A list of pickup networks compatible with the shipping service.",
          "items": {
            "type": "string"
          }
        },
        "pickupSlotId": {
          "type": "string",
          "description": "This unique eBay-assigned ID value is returned only if the shipment has been configured for a scheduled pickup."
        },
        "pickupType": {
          "type": "string",
          "description": "The type of pickup or drop off configured for the shipment. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/PickupTypeEnum.html'>eBay API documentation</a>"
        },
        "rateId": {
          "type": "string",
          "description": "The eBay-generated ID of the shipping rate that the seller has chosen to purchase for the shipment."
        },
        "shippingCarrierCode": {
          "type": "string",
          "description": "The ID code for the carrier that was selected for the package shipment."
        },
        "shippingCarrierName": {
          "type": "string",
          "description": "The name of the shipping carrier."
        },
        "shippingQuoteId": {
          "type": "string",
          "description": "The unique eBay-generated ID of the shipping quote from which the seller selected a shipping rate (rateId)."
        },
        "shippingServiceCode": {
          "type": "string",
          "description": "String ID code for the shipping service selected for the package shipment. This is a service that the shipping carrier supplies."
        },
        "shippingServiceName": {
          "type": "string",
          "description": "The name of the shipping service."
        },
        "totalShippingCost": {
          "$ref": "#/definitions/Amount"
        }
      },
      "description": "The \"rate\" that has been selected and purchased for the shipment, as referenced by the <b>rateId</b> value."
    },
    "Rate": {
      "type": "object",
      "properties": {
        "additionalOptions": {
          "type": "array",
          "description": "Contains service and pricing information for one or more shipping options that are offered by the carrier and can be purchased in addition to the base shipping service provided by this rate. Shipping options can include items such as INSURANCE and SIGNATURE.",
          "items": {
            "$ref": "#/definitions/AdditionalOption"
          }
        },
        "baseShippingCost": {
          "$ref": "#/definitions/Amount"
        },
        "destinationTimeZone": {
          "type": "string",
          "description": "The name of the time zone region, as defined in the IANA Time Zone Database, to which the package is being shipped. Delivery dates are calculated relative to this time zone. Note: This is different from a Coordinated Universal Time (UTC) offset. For example, the America/Los_Angeles time zone identifies a region with the UTC standard time offset of -08:00, but so do several other time zones, including America/Tijuana,America/Dawson, and Pacific/Pitcairn."
        },
        "maxEstimatedDeliveryDate": {
          "type": "string",
          "description": "The latest stated date and time the shipment will be delivered at this rate. The time stamp is formatted as an ISO 8601 string, which is based on the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2018-08-04T07:09:00.000Z"
        },
        "minEstimatedDeliveryDate": {
          "type": "string",
          "description": "The estimated earliest date and time the shipment will be delivered at this rate. The time stamp is formatted as an ISO 8601 UTC string. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2018-08-06T01:00:00.000Z"
        },
        "pickupNetworks": {
          "type": "array",
          "description": "A list of pickup networks compatible with the shipping service.",
          "items": {
            "type": "string"
          }
        },
        "pickupSlots": {
          "type": "array",
          "description": "A list of available pickup slots for the package.",
          "items": {
            "$ref": "#/definitions/PickupSlot"
          }
        },
        "pickupType": {
          "type": "string",
          "description": "The type of pickup or drop-off service associated with the pickupSlots time frames. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/PickupTypeEnum.html'>eBay API documentation</a>"
        },
        "rateId": {
          "type": "string",
          "description": "The unique eBay-assigned ID for this shipping rate."
        },
        "rateRecommendation": {
          "type": "array",
          "description": "A list of reasons this rate is recommended. Available values are: BUYER_CHOSEN &mdash; The rate meets or exceeds the requirements of the buyer's preferred shipping option. CHEAPEST_ON_TIME &mdash; The rate is the cheapest rate available that will provide delivery within the seller's time frame commitment. EBAY_PLUS_OK &mdash; The rate complies with the shipping requirements of the eBay Plus program. FASTEST_ON_TIME &mdash; The rate has the fastest shipping time, and will provide delivery within the seller's time frame commitment. GUARANTEED_DELIVERY_OK &mdash; The rate complies with the shipping requirements of the eBay Guaranteed Delivery program.",
          "items": {
            "type": "string",
            "description": " For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/RateRecommendationEnum.html'>eBay API documentation</a>"
          }
        },
        "shippingCarrierCode": {
          "type": "string",
          "description": "The code name of the shipping carrier who will provide the service identified by shippingServiceCode."
        },
        "shippingCarrierName": {
          "type": "string",
          "description": "The common name of the shipping carrier."
        },
        "shippingServiceCode": {
          "type": "string",
          "description": "The code name of the shipping service to be provided by the carrier identified by shippingCarrierCode."
        },
        "shippingServiceName": {
          "type": "string",
          "description": "The common name of the shipping service."
        }
      },
      "description": "This complex type contains live quote information about a shipping service that's available for a given shipping quote request, including the shipping carrier and service, delivery window, shipping cost, and additional shipping options."
    },
    "Shipment": {
      "type": "object",
      "properties": {
        "cancellation": {
          "$ref": "#/definitions/ShipmentCancellation"
        },
        "creationDate": {
          "type": "string",
          "description": "The date and time the shipment was created, formatted as an ISO 8601 UTC string. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2018-08-06T01:00:00.000Z"
        },
        "labelCustomMessage": {
          "type": "string",
          "description": "If supported by the selected shipping carrier, this field can contain optional seller text to be printed on the shipping label."
        },
        "labelDownloadUrl": {
          "type": "string",
          "description": "The direct URL the seller can use to download an image of the shipping label. By default, the file format is PDF. See downloadLabelFile for requesting different response file formats."
        },
        "labelSize": {
          "type": "string",
          "description": "The seller's desired label size. The support for multi-sized labels is shipping-carrier specific and if the size requested in the creaateFromShippingQuote call matches a size the carrier supports, the value will be represented here in the shipment. Currently, the only valid value is: 4&quot;x6&quot;"
        },
        "orders": {
          "type": "array",
          "description": "This list value is optionally assigned by the seller. When present, each element in the returned list contains seller-assigned information about an order (such as an order number). Because a package can contain all or part of one or more orders, this field provides a way for sellers to identify the packages that contain specific orders.",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "packageSpecification": {
          "$ref": "#/definitions/PackageSpecification"
        },
        "rate": {
          "$ref": "#/definitions/PurchasedRate"
        },
        "returnTo": {
          "$ref": "#/definitions/Contact"
        },
        "shipFrom": {
          "$ref": "#/definitions/Contact"
        },
        "shipmentId": {
          "type": "string",
          "description": "The unique eBay-assigned ID for the shipment. The ID is generated when the shipment is created by a call to createFromShippingQuote."
        },
        "shipmentTrackingNumber": {
          "type": "string",
          "description": "A unique carrier-assigned ID string that can be used to track the shipment."
        },
        "shipTo": {
          "$ref": "#/definitions/Contact"
        }
      },
      "description": "This complex type defines a shipment for a specific package (for example, a box or letter). Shipments are always linked to a purchased shipping label. "
    },
    "ShipmentCancellation": {
      "type": "object",
      "properties": {
        "cancellationRequestedDate": {
          "type": "string",
          "description": "The time and date the request was made to cancel the shipment, formatted as an ISO 8601 UTC string."
        },
        "cancellationStatus": {
          "type": "string",
          "description": "This enum specifies the current cancellation status of a shipment, if a cancellation request has been made. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/ShipmentCancellationStatusEnum.html'>eBay API documentation</a>"
        }
      },
      "description": "This type defines a shipment cancellation by the date and time the cancellation request was made and the current status of the request."
    },
    "ShippingQuote": {
      "type": "object",
      "properties": {
        "creationDate": {
          "type": "string",
          "description": "The date and time this quote was created, expressed as an ISO 8601 UTC string."
        },
        "expirationDate": {
          "type": "string",
          "description": "The last date and time that this quote will be honored, expressed as an ISO 8601 UTC string. After this time the quote expires and the expressed rates can no longer be purchased."
        },
        "orders": {
          "type": "array",
          "description": "This list value is optionally assigned by the seller. When present, each element in the returned list contains seller-assigned information about an order (such as an order number). Because a package can contain all or part of one or more orders, this field provides a way for sellers to identify the packages that contain specific orders.",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "packageSpecification": {
          "$ref": "#/definitions/PackageSpecification"
        },
        "rates": {
          "type": "array",
          "description": "A list of rates where each rate, as identified by a rateId, contains information about a specific shipping service offered by a carrier. Rates include shipping carrier and service, the to and from locations, the pickup and delivery windows, the seller's shipping parameters, the service constraints, and the cost for the base service and a list of additional shipping options. Each rate offered is supported by a label service where you can purchase the rate, and associated shipping label, via a call to createFromShippingQuote.",
          "items": {
            "$ref": "#/definitions/Rate"
          }
        },
        "shipFrom": {
          "$ref": "#/definitions/Contact"
        },
        "shippingQuoteId": {
          "type": "string",
          "description": "The unique eBay-assigned ID for this shipping quote. The value of this field is associated with a specific package, based on its origin, destination, and size."
        },
        "shipTo": {
          "$ref": "#/definitions/Contact"
        },
        "warnings": {
          "type": "array",
          "description": "A list of any warnings triggered by the request.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "This complex type describes a \"shipping quote,\" which contains the parameters for a package shipment. The shipping quote contains a list of \"live quotes\" or <i>rates</i> for the shipment. Rates are offerd by a carrier for a particular service, of set of services, for shipping the package. Included in the shipping quote are the package specifications, the shipment's origin and destination addresses, and the shipping parameters specified by the seller.  <br><br>Use the <b>rateId</b> value to select the specific service you want when you create a shipment by calling <b>createFromShippingQuote</b>."
    },
    "ShippingQuoteRequest": {
      "type": "object",
      "properties": {
        "orders": {
          "type": "array",
          "description": "A seller-defined list that contains information about the orders in the package. This allows sellers to include information about the line items in the package with the shipment information. A package can contain any number of line items from one or more orders, providing they all ship in the same package. Maximum list size: 10",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "packageSpecification": {
          "$ref": "#/definitions/PackageSpecification"
        },
        "shipFrom": {
          "$ref": "#/definitions/Contact"
        },
        "shipTo": {
          "$ref": "#/definitions/Contact"
        }
      },
      "description": "This complex type defines the request body for <b>createShippingQuote</b>. Sellers <i>request a quote</i> for a shipment by defining the \"To\" and \"From\" addresses for the package, plus the package's size.  <br><br>Carriers respond by offering up a \"rate\" for the service of theirs that best fits seller's needs."
    },
    "Weight": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of measure used to express the weight of the package. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/logistics/types/WeightUnitOfMeasureEnum.html'>eBay API documentation</a>"
        },
        "value": {
          "type": "string",
          "description": "The numeric value of the weight of the package, as measured by the value of unit."
        }
      },
      "description": "This complex type contains information about the weight of an object such as a shipping package."
    },
    "Error": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category type for this error or warning. It takes a string that can have one of three values: Application: Indicates an exception or error occurred in the application code or at runtime. Examples include catching an exception in a service's business logic, system failures, or request errors from a dependency. Business: Used when your service or a dependent service refused to continue processing on the resource because of a business rule violation such as &quot;Seller does not ship item to Antarctica&quot; or &quot;Buyer ineligible to purchase an alcoholic item&quot;. Business errors are not syntactical input errors. Request: Used when there is anything wrong with the request, such as authentication, syntactical errors, rate limiting or missing headers, bad HTTP header values, and so on."
        },
        "domain": {
          "type": "string",
          "description": "Name of the domain containing the service or application."
        },
        "errorId": {
          "type": "integer",
          "description": "A positive integer that uniquely identifies the specific error condition that occurred. Your application can use error codes as identifiers in your customized error-handling algorithms."
        },
        "inputRefIds": {
          "type": "array",
          "description": "Identifies specific request elements associated with the error, if any. inputRefId's response is format specific. For JSON, use JSONPath notation.",
          "items": {
            "type": "string"
          }
        },
        "longMessage": {
          "type": "string",
          "description": "An expanded version of message that should be around 100-200 characters long, but is not required to be such."
        },
        "message": {
          "type": "string",
          "description": "An end user and app-developer friendly device agnostic message. It explains what the error or warning is, and how to fix it (in a general sense). Its value is at most 50 characters long. If applicable, the value is localized in the end user's requested locale."
        },
        "outputRefIds": {
          "type": "array",
          "description": "Identifies specific response elements associated with the error, if any. Path format is the same as inputRefId.",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "array",
          "description": "This optional complex field type contains a list of one or more context-specific ErrorParameter objects, with each item in the list entry being a parameter (or input field name) that caused an error condition. Each ErrorParameter object consists of two fields, a name and a value.",
          "items": {
            "$ref": "#/definitions/ErrorParameter"
          }
        },
        "subdomain": {
          "type": "string",
          "description": "Name of the domain's subsystem or subdivision. For example, checkout is a subdomain in the buying domain."
        }
      },
      "description": "A container that defines the elements of error and warning message."
    },
    "ErrorParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the entity that threw the error."
        },
        "value": {
          "type": "string",
          "description": "A description of the error."
        }
      },
      "description": "Container for an error parameter."
    }
  }
}